<p-breadcrumb [model]="breadcrumb" [home]="home"></p-breadcrumb>
<div class="content">
    <div class="grid mb-2">
        <div class="col-12 text-right">
            <button pButton pRipple routerLink="add" type="button" label="Nouveau collaborateur" class="p-button-sm" icon="pi pi-plus" iconPos="left"></button>
        </div>
    </div>
    <div class="container mb-4">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Nom complet</th>
                    <th>Matricule</th>
                    <th>Groupe</th>
                    <th>Departement</th>
                    <th>E-mail</th>
                    <th>Téléphone</th>
                    <th>Supervisuer</th>
                    <th>Subordonnés</th>
                    <th>Statut</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="!(isLoading$ | async); else loading">
                    <tr *ngFor="let collaborateur of collaborateurs"><app-collaborateur [collaborateur]="collaborateur"></app-collaborateur></tr>
                </ng-container>
                <ng-template #loading>
                    <tr *ngFor="let item of [].constructor(3)">
                        <app-liste-collaborateur-loader></app-liste-collaborateur-loader>
                    </tr>
                </ng-template>
            </tbody>
        </table>
    </div>
    <p-paginator [rows]="pagination?.pageSize ?? 1" [totalRecords]="pagination?.totalItems ?? 1" (onPageChange)="paginate($event)"></p-paginator>
</div>