.container{
    overflow-x: auto;
    box-shadow: 0 0 2px #00000061;
    border-radius: 5px;
    height: auto;
    .table {
        border-collapse: collapse;
        width: 100%;
        padding: 10px;
        thead{
            border-bottom: 1px solid #ccc;
        }
        th {
            color: #3b82f6;
            font-weight: normal;
            text-align: left;
            padding: 10px;
            font-weight: 500;
        }
        ::ng-deep tr:nth-child(even) {
            background-color: #f1f0f0ab;
        }
        tr:last-child{
            border: none;
            background-color: white;
            td{
                padding: 20px;
                text-align: center;
            }
        }
        ::ng-deep tr{
            border-bottom: 1px solid #ccc;
            td{
                text-align: left;
                vertical-align: middle;
                padding-top: 5px;
                padding-left: 10px;
                white-space: nowrap;
            }
            td:nth-child(2){
                vertical-align: top !important;
            }
        }
        
    }
}