<div class="col-12 text-right">
    <p-button class="btn-capture" (click)="op.toggle($event)">
        <img alt="logo" src="../../../../../../assets/img/Frame.svg" style="width: 2rem" />
        <span class="ml-2 font-bold">Capture d’écran</span>
    </p-button> 
</div>
<p-overlayPanel #op>
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Capture d’écran">
                <div class="grid img-gallery">
                    <div class="col-12 sm:col-12 md:col-4 lg:col-4" *ngFor="let img of [0,1,2,3,4]">
                        <p-image (click)="Openimage()" src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image"></p-image>
                    </div>
                </div>
                <div class="col-12 btn-ecran mt-3">
                    <p-button label="Capture d’écran" icon="pi pi-camera"></p-button>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Galerie d’images">
                <div class="grid">
                   <div class="col-12 sm:col-12 md:col-2 lg:col-2">
                        <div class="avance mb-2 flex justify-content-center" [ngClass]="stepdialog == 1  ? 'activedialog' : ''" (click)="setStepdialog(1)">
                            <p-button>
                                <img alt="logo" src="../../../../../../assets/img/ecg.svg" style="width: 2rem" />
                            </p-button> 
                        </div>
                        <div class="avance mb-2 flex justify-content-center" [ngClass]="stepdialog == 2  ? 'activedialog' : ''" (click)="setStepdialog(2)">
                            <p-button>
                                <img alt="logo" src="../../../../../../assets/img/dermat.svg" style="width: 2rem" />
                            </p-button> 
                        </div>
                        <div class="avance mb-2 flex justify-content-center" [ngClass]="stepdialog == 3  ? 'activedialog' : ''" (click)="setStepdialog(3)">
                            <p-button>
                                <img alt="logo" src="../../../../../../assets/img/otoscope.svg" style="width: 2rem" />
                            </p-button> 
                        </div>
                        <div class="avance mb-2 flex justify-content-center" [ngClass]="stepdialog == 4  ? 'activedialog' : ''" (click)="setStepdialog(4)">
                            <p-button>
                                <img alt="logo" src="../../../../../../assets/img/echgraphe.svg" style="width: 2rem" />
                            </p-button> 
                        </div>
                        <div class="avance mb-2 flex justify-content-center" [ngClass]="stepdialog == 5  ? 'activedialog' : ''" (click)="setStepdialog(5)">
                            <p-button>
                                <img alt="logo" src="../../../../../../assets/img/Layer.svg" style="width: 2rem" />
                            </p-button> 
                        </div>
                        <div class="avance mb-2 flex justify-content-center" [ngClass]="stepdialog == 6  ? 'activedialog' : ''" (click)="setStepdialog(6)">
                            <p-button>
                                <img alt="logo" src="../../../../../../assets/img/cam.svg" style="width: 2rem" />
                            </p-button> 
                        </div>  
                   </div>
                   <div class="col-12 sm:col-12 md:col-10 lg:col-10" *ngIf="stepdialog === 1">
                        <div class="h-full border-round-sm border-1 p-3">
                            ECG
                        </div>
                   </div>
                   <div class="col-12 sm:col-12 md:col-10 lg:col-10" *ngIf="stepdialog === 2">
                        <div class="h-full border-round-sm border-1 p-3">
                            dermatoscope
                        </div>
                    </div>
                    <div class="col-12 sm:col-12 md:col-10 lg:col-10" *ngIf="stepdialog === 3">
                        <div class="h-full border-round-sm border-1 p-3">
                            otoscope 
                        </div>
                    </div>
                    <div class="col-12 sm:col-12 md:col-10 lg:col-10" *ngIf="stepdialog === 4">
                        <div class="h-full border-round-sm border-1 p-3">
                            echographie  
                        </div>
                    </div>
                    <div class="col-12 sm:col-12 md:col-10 lg:col-10" *ngIf="stepdialog === 5">
                        <div class="h-full border-round-sm border-1 p-3">
                            iriscope   
                        </div>
                    </div>
                    <div class="col-12 sm:col-12 md:col-10 lg:col-10" *ngIf="stepdialog === 6">
                        <div class="h-full border-round-sm border-1 p-3">
                            camera-mobile   
                        </div>
                    </div>  
                </div>
            </p-tabPanel>
        </p-tabView>
    </ng-template>
</p-overlayPanel>
<div class="grid mt-2">
    <div class="col-12 sm:col-12 md:col-4 lg:col-2">
        <div class="avance mb-2" [ngClass]="step == 1  ? 'active' : ''" (click)="setStep(1)">
            <p-button>
                <img alt="logo" src="../../../../../../assets/img/ecg.svg" style="width: 2rem" />
                <span class="ml-2 font-bold">ECG</span>
            </p-button> 
        </div>
        <div class="avance mb-2" [ngClass]="step == 2  ? 'active' : ''" (click)="setStep(2)">
            <p-button>
                <img alt="logo" src="../../../../../../assets/img/dermat.svg" style="width: 2rem" />
                <span class="ml-2 font-bold">Dermatoscope</span>
            </p-button> 
        </div>
        <div class="avance mb-2" [ngClass]="step == 3  ? 'active' : ''" (click)="setStep(3)">
            <p-button>
                <img alt="logo" src="../../../../../../assets/img/otoscope.svg" style="width: 2rem" />
                <span class="ml-2 font-bold">Otoscope </span>
            </p-button> 
        </div>
        <div class="avance mb-2" [ngClass]="step == 4  ? 'active' : ''" (click)="setStep(4)">
            <p-button>
                <img alt="logo" src="../../../../../../assets/img/echgraphe.svg" style="width: 2rem" />
                <span class="ml-2 font-bold">Echographie</span>
            </p-button> 
        </div>
        <div class="avance mb-2" [ngClass]="step == 5  ? 'active' : ''" (click)="setStep(5)">
            <p-button>
                <img alt="logo" src="../../../../../../assets/img/Layer.svg" style="width: 2rem" />
                <span class="ml-2 font-bold">Iriscope</span>
            </p-button> 
        </div>
        <div class="avance" [ngClass]="step == 6  ? 'active' : ''" (click)="setStep(6)">
            <p-button>
                <img alt="logo" src="../../../../../../assets/img/cam.svg" style="width: 2rem" />
                <span class="ml-2 font-bold">Camera mobile</span>
            </p-button> 
        </div>
    </div>
    <div class="col-12 sm:col-12 md:col-8 lg:col-10 h-auto" *ngIf="step === 1">
        <div class="h-full border-round-sm border-1 p-3">
            <app-ecg></app-ecg>
        </div>
    </div>
    <div class="col-12 sm:col-12 md:col-8 lg:col-10 h-auto" *ngIf="step === 2">
        <div class="h-full border-round-sm border-1 p-3">
            <app-dermatoscope></app-dermatoscope>
        </div>
    </div>
    <div class="col-12 sm:col-12 md:col-8 lg:col-10 h-auto" *ngIf="step === 3">
        <div class="h-full border-round-sm border-1 p-3">
            <app-otoscope></app-otoscope>
        </div>
    </div>
    <div class="col-12 sm:col-12 md:col-8 lg:col-10 h-auto" *ngIf="step === 4">
        <div class="h-full border-round-sm border-1 p-3">
            <app-echographie></app-echographie>
        </div>
    </div>
    <div class="col-12 sm:col-12 md:col-8 lg:col-10 h-auto" *ngIf="step === 5">
        <div class="h-full border-round-sm border-1 p-3">
            <app-iriscope></app-iriscope>
        </div>
    </div>
    <div class="col-12 sm:col-12 md:col-8 lg:col-10 h-auto" *ngIf="step === 6">
        <div class="h-full border-round-sm border-1 p-3">
            <app-camera-mobile></app-camera-mobile>
        </div>
    </div>
</div>