<div class="grid mt-1">
    <div class="col-12">
        <p-panel header="Antécédents personnels" [toggleable]="true">
            <div class="grid">
                <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                    <div class="table-container p-3">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="p-3 text-left">Antécédents Médicaux</th>
                                        <th class="p-3">Année</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cursor-pointer" *ngFor="let medical of patient.medicalHistory?.medical">
                                        <td class="text-left text-lg p-3" *ngIf="medical.motif.join(',').length > 60" [pTooltip]="medical.motif.join(',')" tooltipPosition="top">{{medical.motif.join(',') | truncateText: 60}}</td>
                                        <td class="text-left text-lg p-3" *ngIf="medical.motif.join(',').length <= 60">{{medical.motif.join(',')}}</td>
                                        <td class="text-center text-lg p-3">{{medical.year}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                    <div class="table-container p-3">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="p-3 text-left">Antécédents chirurgicaux</th>
                                        <th class="p-3">Année</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cursor-pointer" *ngFor="let surgical of patient.medicalHistory?.surgical">
                                        <td class="text-left text-lg p-3" *ngIf="surgical.motif.join(',').length > 60" [pTooltip]="surgical.motif.join(',')" tooltipPosition="top">{{surgical.motif.join(',') | truncateText: 60}}</td>
                                        <td class="text-left text-lg p-3" *ngIf="surgical.motif.join(',').length <= 60">{{surgical.motif.join(',')}}</td>
                                        <td class="text-center text-lg p-3">{{surgical.year}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </p-panel>
    </div>
    <div class="col-12">
        <p-panel header="Antécédents Familiaux" [toggleable]="true">
            <div class="grid">
                <div class="col-12">
                    <div class="table-container p-3">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="p-3 text-left">Antécédents Familiaux</th>
                                        <!-- <th class="p-3">Année</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cursor-pointer" *ngFor="let family of patient.medicalHistory?.family?.selected">
                                        <td class="text-left text-lg p-3">{{family}}</td>
                                        <!-- <td class="text-center text-lg p-3">2015</td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </p-panel>
    </div>
    <div class="col-12">
        <p-panel header="Antécédents Toxiques" [toggleable]="true">
            <div class="grid">
                <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                    <div class="table-container p-3">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="p-3 text-left">Tabac</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cursor-pointer">
                                        <td class="text-left text-lg p-3" *ngIf="patient.medicalHistory?.toxic?.tabac">
                                            Oui <br>
                                            Sevré {{patient.medicalHistory.toxic?.tabac.perDay}} cigarette/jour <br>
                                            Pendant {{patient.medicalHistory.toxic?.tabac.duration * -1}} ans <br>
                                            {{patient.medicalHistory.toxic?.boxPerYear}} Paquet/année
                                        </td>
                                        <td class="text-left text-lg p-3" *ngIf="!patient.medicalHistory?.toxic?.tabac">Non</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-3">
                    <div class="table-container p-3">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="p-3 text-left">Alcool</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cursor-pointer">
                                        <td class="text-left text-lg p-3">Non</td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-3">
                    <div class="table-container p-3">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="p-3 text-left">Autres substances</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cursor-pointer">
                                        <td class="text-left text-lg p-3">Oui</td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </p-panel>
    </div>
    <div class="col-12">
        <p-panel header="Antécédents Alérgicos" [toggleable]="true">
            <div class="grid">
                <div class="col-12">
                    <div class="table-container p-3">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="p-3 text-left">Allérgies</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cursor-pointer" *ngFor="let allergy of patient.medicalHistory?.allergy">
                                    <td class="text-left text-lg p-3">{{allergy}}</td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </p-panel>
    </div>
    <div class="col-12">
        <p-panel header="Antécédents Gynéco-obstétricaux" class="femme" [toggleable]="true">
            <div class="grid">
                <div class="col-12 sm:col-12 md:col-12 lg:col-3 d">
                    <div class="mb-3">
                        <h4>Date des premières règles</h4>
                        <p>25 ans</p>
                    </div>
                    <div class="mb-3">
                        <h4>Avez-vous atteint la ménopause ?</h4>
                        <p>Régulier</p>
                    </div>
                    <div class="mb-3">
                        <h4>Régularité</h4>
                        <p>17/08/2023</p>
                    </div>
                    <div class="mb-3">
                        <h4>Présence de signes associés (douleurs, symptômes prémenstruels) ?</h4>
                        <p>17</p>
                    </div>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-3 d">
                    <div class="mb-3">
                        <h4>Dysménorrhée (douleurs menstruelles) ?</h4>
                        <p>Oui, 2 mois</p>
                    </div>
                    <div class="mb-3">
                        <h4>Avez-vous déjà présenté un syndrome dysphorique prémenstruel (SDPM) ?</h4>
                        <p>Oui</p>
                    </div>
                    <div class="mb-3">
                        <h4>Moyen de contraception actuelle</h4>
                        <p>Oui, 2 mois</p>
                    </div>
                    <div class="mb-3">
                        <h4>Modifications dans votre cycle depuis l’utilisation de la pilule contraceptive :</h4>
                        <p>Oui</p>
                    </div>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-3 d">
                    <div class="mb-3">
                        <h4>Moyen de contraception actuelle</h4>
                        <p>Oui, 2 mois</p>
                    </div>
                    <div class="mb-3">
                        <h4>Combien de grossesses avez-vous eues (G) ? et combien de parièté ?</h4>
                        <p>Oui, 2 mois</p>
                    </div>
                    <div class="mb-3">
                        <h4>Avez-vous eu des fausses couches ?</h4>
                        <p>Oui</p>
                    </div>
                    <div class="mb-3">
                        <h4>Avez-vous déjà eu un accouchement par césarienne ?</h4>
                        <p>Oui, 2 mois</p>
                    </div>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-3 d">
                    <div class="grid">
                        <div class="col-12 sm:col-12 md:col-12 lg:col-8">
                            <div class="mb-3">
                                <h4>Avez-vous eu des complications pendant l'une de vos grossesses ?</h4>
                                <p>Oui</p>
                            </div>
                            <div class="mb-3">
                                <h4>Avez-vous allaité vos enfants ?</h4>
                                <p>Oui, 2 mois</p>
                            </div>
                            <div class="mb-3">
                                <h4>Avez-vous des antécédents familiaux de cancers gynécologiques ?</h4>
                                <p>Oui</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </p-panel>
    </div>
</div>
