<div class="mt-4 p-4 tab-peripheriques">
    <p-tabView>
        <p-tabPanel header="Périphériques de base">
        <p>
            <app-peripheriques-base #child></app-peripheriques-base>
        </p>
        </p-tabPanel>
        <p-tabPanel header="Périphériques Avancé">
            <p>
                <app-peripheriques-avance></app-peripheriques-avance>
            </p>
        </p-tabPanel>
        <p-tabPanel header="Dépistage">
            <p>
                <app-pepistage></app-pepistage>
            </p>
        </p-tabPanel>
    </p-tabView>
</div>
<div class="flex justify-content-between md:mt-6">
    <button (click)="Previous()"  pRipple type="button"  label="Retour"  class="text-white surface-500 surface-border px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:surface-500 hover:surface-border active:surface-500 active:surface-border md:w-2">Retour</button>
    <button (click)="save()" pRipple pButton type="button" label="Étape suivante"  class="text-white bg-primary-500 border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer md:w-2"></button>
</div>