.cal-date{
    background: rgb(26, 165, 192);
    border-radius: 3px;
    color: rgb(255, 255, 255);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-inline: 1.5rem;
    white-space: nowrap;
}