<h2 class="md:ml-1"><img class="w-2rem" src="../../../../assets/img/icons/add.svg"> Nouveau dossier patient</h2>
<form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
    <div class="grid  mt-4 md:mb-4 ">
        <div class="col-12 sm:col-12 md:col-12 lg:col-3 md:mb-2">
            <label for="cine" class="font-medium">Nº CINE*</label>
            <input formControlName="cine" id="cin" type="text" class="text-base text-color surface-overlay p-2 border-2 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="col-12 sm:col-12 md:col-12 lg:col-3 md:mb-2">
            <label for="nom" class="font-medium">Nom*</label>
            <input formControlName="lastName" id="nom" type="text" class="text-base text-color surface-overlay p-2 border-2 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="col-12 sm:col-12 md:col-12 lg:col-3 md:mb-2">
            <label for="prenom" class="font-medium">Prénom*</label>
            <input formControlName="firstName" id="prenom" type="text" class="text-base text-color surface-overlay p-2 border-2 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="col-12 sm:col-12 md:col-12 lg:col-3 md:mb-2">
            <label for="sexe" class="font-medium">Sexe*</label>
            <select formControlName="gender" id="sexe" class="w-full text-base text-color surface-overlay p-2 border-2 border-solid surface-border border-round outline-none focus:border-primary">
                <option value="male">Masculin</option>
                <option value="female">Féminin</option>
            </select>
        </div>
        <div class="col-12 sm:col-12 md:col-12 lg:col-3 md:mb-2">
            <label for="date" class="font-medium">Date de naissance*</label>
            <div class="flex gap-2">
                <input formControlName="birthDate" id="date" type="date" class="text-base text-color surface-overlay p-2 border-2 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-9">
                <div class="cal-date">{{ patientForm.get('birthDate')?.value | age }}</div>
            </div>
        </div>
        <div class="col-12 sm:col-12 md:col-12 lg:col-3 md:mb-2">
            <label for="couverture" class="font-medium">Couverture*</label>
            <select formControlName="medicalCover" id="couverture" class="w-full text-base text-color surface-overlay p-2 border-2 border-solid surface-border border-round outline-none focus:border-primary">
                <option>CNSS PIPC</option>
                <option>EXONÉRÉ</option>
                <option>CNSS</option>
                <option>CNOPS</option>
                <option>FAR</option>
            </select>
        </div>
        <div class="col-12 sm:col-12 md:col-12 lg:col-3 md:mb-2">
            <label  class="font-medium">Region*</label>
            <select  class="w-full text-base text-color surface-overlay p-2 border-2 border-solid surface-border border-round outline-none focus:border-primary">
                <option>Casablanca - settat</option>
                <option>Fes - meknes</option>
            </select>
        </div>
        <div class="col-12 sm:col-12 md:col-12 lg:col-3 md:mb-2">
            <label for="ville" class="font-medium">Ville*</label>
            <select formControlName="city" id="ville" class="w-full text-base text-color surface-overlay p-2 border-2 border-solid surface-border border-round outline-none focus:border-primary">
                <option *ngFor="let city of filtredCities" [value]="city.id">{{city.name}}</option>
            </select>
        </div>
        <!-- <div class="col-12 sm:col-12 md:col-12 lg:col-4 md:mb-2">
            <label for="adherent" class="font-medium">N adhérent</label>
            <input formControlName="affiliationNumber" id="adherent" type="text" class="text-base text-color surface-overlay p-2 border-2 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div> -->
        <div class="col-12 sm:col-12 md:col-12 lg:col-3 md:mb-2">
            <label for="province" class="text-cyan-500 font-medium">Commune*</label>
            <select (change)="provinceChange($event)" id="province" class="w-full text-base text-color surface-overlay p-2 border-2 border-solid surface-border border-round outline-none focus:border-primary">
                <option *ngFor="let province of provinces" [value]="province.id">{{province.name}}</option>
            </select>
        </div>
        <div class="col-12 sm:col-12 md:col-12 lg:col-3 md:mb-2">
            <label for="tel_mobile" class="font-medium">Téléphone mobile</label>
            <input formControlName="phoneNumber" id="tel_mobile" type="text" class="text-base text-color surface-overlay p-2 border-2 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="col-12 sm:col-12 md:col-12 lg:col-3 md:mb-2">
            <label  class="font-medium">E-mail</label>
            <input type="text" class="text-base text-color surface-overlay p-2 border-2 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="col-12 sm:col-12 md:col-12 lg:col-3 md:mb-2">
            <label for="adresse" class="font-medium">Adresse</label>
            <input formControlName="address" id="adresse" type="text" class="text-base text-color surface-overlay p-2 border-2 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="col-12 sm:col-12 md:col-12 lg:col-12 md:mb-2">
            <label for="cmp_adresse" class="font-medium">Complément d’adresse*</label>
            <input formControlName="address2" id="cmp_adresse" type="text" class="text-base text-color surface-overlay p-2 border-2 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
    </div>
    <div class="flex justify-content-between md:mt-6">
        <button pRipple type="button"  label="Annuler" class="btn-annuler px-3 py-2 text-base cursor-pointer transition-all transition-duration-200 md:w-1 md:ml-1">Annuler</button>
        <button *ngIf="(isLoading$ | async)" pRipple pButton label="Traitement en cours..." class="text-white bg-primary-500 border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer md:w-1 md:mr-5"></button>
        <button *ngIf="!(isLoading$ | async)" pRipple pButton label="Terminer" class="btn-terminer px-3 py-2 text-base  cursor-pointer md:w-1 md:mr-1"></button>

    </div>
</form>
    
