::ng-deep .btn-capture .p-button{
    color: #3B82F6;
    border: 1px solid;
    border-color:#FFF ;
    border-radius: 33.5px;
    background: #FFF;
    box-shadow: 0px 1.672px 3.344px 0px rgba(0, 0, 0, 0.25);
}
::ng-deep .btn-delete .p-button{
    border-radius: 50%;
    background-color: red;
    border-color: red;
}
.list-res{
    border-radius: 6.266px;
    border: 1.283px solid #698DA9;
    background: rgba(255, 255, 255, 0.69);
    box-shadow: 0px 1.283px 5.13px 0px rgba(54, 94, 125, 0.37);
    padding: 10px;  
}
.list-nmb{
    border-radius: 6.266px;
    background: #698DA9;
    box-shadow: 0px 1.283px 5.13px 0px rgba(54, 94, 125, 0.37);
    padding: 10px;
}