<div class="grid mt-2 serach">
    <div class="col-12 sm:col-12 md:col-12 lg:col-4 md:mb-2">
        <label class="text-cyan-500 font-medium pb-2 block">Patient</label>
        <p-autoComplete [(ngModel)]="selectedItem" [suggestions]="suggestions" (completeMethod)="search($event)"></p-autoComplete>
    </div>
    <div class="col-12 sm:col-12 md:col-12 lg:col-4 md:mb-2">
        <label class="text-cyan-500 font-medium pb-2 block">Spécialité médicale</label>
        <p-autoComplete 
        [(ngModel)]="selectedSpecialite" [suggestions]="filtredSpecialite" (completeMethod)="searchSpecialite($event)"
        (onSelect)="onSelect($event)"
        field="name" [minLength]="1" class="w-full"></p-autoComplete>
    </div>
    <div class="col-10 md:mb-2">
        <label class="text-cyan-500 font-medium pb-2 block">Correspondance médicale </label>
        <textarea [(ngModel)]="reason" rows="5" class="w-full text-base text-color surface-overlay p-2 border-2 border-solid surface-border border-round outline-none focus:border-primary" pInputTextarea placeholder="Saisissez votre message au medecin spécialiste"></textarea>
    </div>
</div>
<h4 class="mb-2 text-cyan-500 ">Créneaux</h4>
<div class="grid" *ngIf="showCalendar">
    <div class="col-12 sm:col-12 md:col-12 lg:col-4 md:mb-2">
        <p-calendar class="max-w-full" [(ngModel)]="date" [inline]="true" [showWeek]="true" (onMonthChange)="onMonthChange($event)" (onSelect)="onSelectDate($event)" [disabledDates]="disabledDates"></p-calendar>
    </div>
    <div class="col-12 sm:col-12 md:col-12 lg:col-4 md:mb-2">
        <h4 class="mb-2 text-cyan-500 ">Selectionner l’horaire</h4>
        <div class="grid slots">
            <div class="col-12 sm:col-12 md:col-12 lg:col-6" *ngFor="let slot of slots; let i = index">
                <button class="slots-btn p-2" (click)="onSlotSelect(i)" [ngClass]="selectedSlotIndex == i ? 'selected': ''">
                    <span>{{slot.start}}</span>
                    <span>{{slot.end}}</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-12 sm:col-12 md:col-12 lg:col-4 md:mb-2">
        <h4 class="mb-2 text-cyan-500 ">Médecins disponibles</h4>
        <div class="grid slots">
            <div class="col-12 sm:col-12 md:col-12 lg:col-12" *ngFor="let doctor of filtredDoctors; let i = index">
                <button class="doctor-btn p-2" (click)="onDoctorSelect(i)" [ngClass]="selectedDoctorIndex == i ? 'selected': ''">
                    <span class="uppercase-text">{{doctor.user.firstName}} {{doctor.user.lastName}}</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="grid recap mt-2" *ngIf="selectedSlotIndex != -1">
    <div class="col-12 sm:col-12 md:col-8 lg:col-8">
        <h5>Date et horaire de rendez-vous :</h5>
    </div>
    <div class="col-12 sm:col-12 md:col-4 lg:col-4 lg:text-right md:text-right">
        <h4>{{selectedDate | date:'dd/MM/yyy'}} &nbsp; {{slots[selectedSlotIndex].start}} à {{slots[selectedSlotIndex].end}}</h4>
    </div>
</div>
<div class="flex justify-content-between md:mt-6">
    <button pRipple type="button"  label="Annuler" class="text-white surface-500 surface-border  py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:surface-500 hover:surface-border active:surface-500 active:surface-border md:w-1 md:ml-5">Annuler</button>
    <button pRipple pButton label="Valider" class="text-white bg-primary-500 border-primary-500  py-2 text-base border-1 border-solid border-round cursor-pointer md:w-1 md:mr-5" (click)="saveRendezVous()"></button>

</div>