
<div class="grid ml-2 mr-2">
    <div class="col-12 sm:col-12 md:col-12 lg:col-8">
        <p-toast />
            <div class="mb-5 ml-2 uplaodfile flex">
                <div>
                    <p-fileUpload 
                    mode="basic" 
                    chooseLabel="Importer un fichier" 
                    chooseIcon="pi pi-upload"
                    name="demo[]" 
                    url="https://www.primefaces.org/cdn/api/upload.php" 
                    maxFileSize="1000000" 
                    class="btn-upload"/>
                </div>
                <div class="flex items-center align-items-center ml-2">
                    <p-checkbox [(ngModel)]="isEcraser" [binary]="true" inputId="ny" />
                    <label for="ny" class="ml-2">Ecraser les statistiques</label>
                </div>
                <div class="ml-2">
                    <p-button *ngIf="!isUploading" label="Transferer le fichier" (click)="onUpload($event)" icon="pi pi-cloud-download" class="transferer-btn"/>
                    <p-button *ngIf="isUploading"  label="Chanrgement..." icon="pi pi-cloud-download" class="transferer-btn"/>
                </div>
                
                
            </div>
        <div class="tableau-bord">
            <div class="filter p-2 mb-3 ml-2 flex justify-content-between">
                <h3 class="mb-5">TABLEAU DE BORD GÉNÉRAL  <span style="color: #1e9f08">{{currentUmmc?.name}}</span></h3>
                <!-- <div>
                    <p-dropdown 
                        [options]="regions" 
                        [(ngModel)]="selectedRegion" 
                        optionLabel="name" 
                        placeholder="Région : Tous" />
                </div> -->
                <!-- <div>
                    <p-dropdown 
                        [options]="province" 
                        [(ngModel)]="selectedProvince" 
                        optionLabel="name" 
                        placeholder="Province : Tous" />
                </div> -->
                <!-- <div>
                    <p-dropdown 
                        [options]="hopital"
                        class="w-hopital"
                        [(ngModel)]="selectedHopital" 
                        optionLabel="name" 
                        placeholder="Centre de santé + Hopital : Tous" />
                </div> -->
                <div>
                    <div>
                        <p-calendar 
                        [(ngModel)]="rangeDates" 
                        selectionMode="range" 
                        [readonlyInput]="true"
                        [showIcon]="true"  
                        placeholder="Du 20/09/25 au 27/09/25" />
                        <p-button icon="pi pi-search" (click)="filterByDates()" class="ml-2 search-filter"/>
                    </div>
                </div>
                
                <!-- <div>
                    <p-button icon="pi pi-download" class="download-filter"/>
                </div> -->
            </div>
            
            <div class="grid">
                <div class="col-12 sm:col-12 md:col-12 lg:col-4">
                    <div class="bg-chart">
                        <h3>Taux de péremption</h3>
                        <p-chart type="line" [data]="taux_peremption" [options]="options" class="chartline"/>
                        <div class="grid btm-chart">
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                                <h2>{{calculateMoyenGlobalTaux(taux_peremption)}}%</h2>
                            </div>
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6 text-right">
                                    
                                    <p-overlayPanel #op_taux_peremption>
                                        <div class="min-max-container">
                                            <h4 class="mb-2">Minimum: {{getMinMax('taux_peremption').min.entity_name}} avec un taux de <span class="text-red-700">{{getMinMax('taux_peremption').min.value}}%</span></h4>
                                            <hr class="mb-2">
                                            <h4>Maximum: {{getMinMax('taux_peremption').max.entity_name}} avec un taux de <span class="text-green-700">{{getMinMax('taux_peremption').max.value}}%</span></h4>
                                        </div>
                                    </p-overlayPanel>
                                    <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2" (click)="op_taux_peremption.toggle($event)"/>
                                <!-- <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2" (onClick)="DetailTablBoard()"/> -->
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-4">
                    <div class="bg-chart">
                        <h3>Taux d'occupation</h3>
                        <p-chart type="line" [data]="taux_occupation" [options]="options" class="chartline"/>
                        <div class="grid btm-chart">
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                                <h2>{{calculateMoyenGlobalTaux(taux_occupation)}}%</h2>
                            </div>
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6 text-right">
                                <p-overlayPanel #op_taux_occupation>
                                    <div class="min-max-container">
                                        <h4 class="mb-2">Minimum: {{getMinMax('taux_occupation').min.entity_name}} avec un taux de <span class="text-red-700">{{getMinMax('taux_occupation').min.value}}%</span></h4>
                                        <hr class="mb-2">
                                        <h4>Maximum: {{getMinMax('taux_occupation').max.entity_name}} avec un taux de <span class="text-green-700">{{getMinMax('taux_occupation').max.value}}%</span></h4>
                                    </div>
                                </p-overlayPanel>
                                <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2" (click)="op_taux_occupation.toggle($event)"/>
                                <!-- <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2" (onClick)="DetailTablBoard()"/> -->
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-4">
                    <div class="bg-chart">
                        <h3>Taux de proche périmé</h3>
                        <p-chart type="line" [data]="taux_proche_perime" [options]="options" class="chartline"/>
                        <div class="grid btm-chart">
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                                <h2>{{calculateMoyenGlobalTaux(taux_proche_perime)}}%</h2>
                            </div>
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6 text-right">
                                <p-overlayPanel #op_taux_proche_perime>
                                    <div class="min-max-container">
                                        <h4 class="mb-2">Minimum: {{getMinMax('taux_proche_perime').min.entity_name}} avec un taux de <span class="text-red-700">{{getMinMax('taux_proche_perime').min.value}}%</span></h4>
                                        <hr class="mb-2">
                                        <h4>Maximum: {{getMinMax('taux_proche_perime').max.entity_name}} avec un taux de <span class="text-green-700">{{getMinMax('taux_proche_perime').max.value}}%</span></h4>
                                    </div>
                                </p-overlayPanel>
                                <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2" (click)="op_taux_proche_perime.toggle($event)"/>
                                <!-- <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2" (onClick)="DetailTablBoard()"/> -->
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-12 sm:col-12 md:col-12 lg:col-4">
                    <div class="bg-chart">
                        <h3>Taux de rupture</h3>
                        <p-chart type="line" [data]="taux_rupture" [options]="options" class="chartline"/>
                        <div class="grid btm-chart">
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                                <h2>{{calculateMoyenGlobalTaux(taux_rupture)}}%</h2>
                            </div>
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6 text-right">
                                <p-overlayPanel #op_taux_rupture>
                                    <div class="min-max-container">
                                        <h4 class="mb-2">Minimum: {{getMinMax('taux_rupture').min.entity_name}} avec un taux de <span class="text-red-700">{{getMinMax('taux_rupture').min.value}}%</span></h4>
                                        <hr class="mb-2">
                                        <h4>Maximum: {{getMinMax('taux_rupture').max.entity_name}} avec un taux de <span class="text-green-700">{{getMinMax('taux_rupture').max.value}}%</span></h4>
                                    </div>
                                </p-overlayPanel>
                                <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2" (click)="op_taux_rupture.toggle($event)"/>
                                <!-- <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2" (onClick)="DetailTablBoard()"/> -->
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-4">
                    <div class="bg-chart">
                        <h3>Taux de disponibilité A</h3>
                        <p-chart type="line" [data]="taux_disponibilite_a" [options]="options" class="chartline"/>
                        <div class="grid btm-chart">
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                                <h2>{{calculateMoyenGlobalTaux(taux_disponibilite_a)}}%</h2>
                            </div>
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6 text-right">
                                <p-overlayPanel #op_taux_disponibilite_a>
                                    <div class="min-max-container">
                                        <h4 class="mb-2">Minimum: {{getMinMax('taux_disponibilite_a').min.entity_name}} avec un taux de <span class="text-red-700">{{getMinMax('taux_disponibilite_a').min.value}}%</span></h4>
                                        <hr class="mb-2">
                                        <h4>Maximum: {{getMinMax('taux_disponibilite_a').max.entity_name}} avec un taux de <span class="text-green-700">{{getMinMax('taux_disponibilite_a').max.value}}%</span></h4>
                                    </div>
                                </p-overlayPanel>
                                <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2" (click)="op_taux_disponibilite_a.toggle($event)"/>
                                <!-- <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2" (onClick)="DetailTablBoard()"/> -->
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-4">
                    <div class="bg-chart">
                        <h3>Taux de disponibilité B</h3>
                        <p-chart type="line" [data]="taux_disponibilite_b" [options]="options" class="chartline"/>
                        <div class="grid btm-chart">
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                                <h2>{{calculateMoyenGlobalTaux(taux_disponibilite_b)}}%</h2>
                            </div>
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6 text-right">
                                <p-overlayPanel #op_taux_disponibilite_b>
                                    <div class="min-max-container">
                                        <h4 class="mb-2">Minimum: {{getMinMax('taux_disponibilite_b').min.entity_name}} avec un taux de <span class="text-red-700">{{getMinMax('taux_disponibilite_b').min.value}}%</span></h4>
                                        <hr class="mb-2">
                                        <h4>Maximum: {{getMinMax('taux_disponibilite_b').max.entity_name}} avec un taux de <span class="text-green-700">{{getMinMax('taux_disponibilite_b').max.value}}%</span></h4>
                                    </div>
                                </p-overlayPanel>
                                <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2" (click)="op_taux_disponibilite_b.toggle($event)"/>
                                <!-- <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2" (onClick)="DetailTablBoard()"/> -->
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-4">
                    <div class="bg-chart">
                        <h3>Taux de disponibilité C</h3>
                        <p-chart type="line" [data]="taux_disponibilite_c" [options]="options" class="chartline"/>
                        <div class="grid btm-chart">
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                                <h2>{{calculateMoyenGlobalTaux(taux_disponibilite_c)}}%</h2>
                            </div>
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6 text-right">
                                <p-overlayPanel #op_taux_disponibilite_c>
                                    <div class="min-max-container">
                                        <h4 class="mb-2">Minimum: {{getMinMax('taux_disponibilite_c').min.entity_name}} avec un taux de <span class="text-red-700">{{getMinMax('taux_disponibilite_c').min.value}}%</span></h4>
                                        <hr class="mb-2">
                                        <h4>Maximum: {{getMinMax('taux_disponibilite_c').max.entity_name}} avec un taux de <span class="text-green-700">{{getMinMax('taux_disponibilite_c').max.value}}%</span></h4>
                                    </div>
                                </p-overlayPanel>
                                <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2" (click)="op_taux_disponibilite_c.toggle($event)"/>
                                <!-- <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2" (onClick)="DetailTablBoard()"/> -->
                            </div> 
                        </div>
                    </div>
                </div>
                <ng-container *ngIf="showInitialMarkers">
                    <div class="col-12 sm:col-12 md:col-12 lg:col-4">
                        <div class="bg-chart">
                            <h3>Taux de service ordonnance</h3>
                            <p-chart type="line" [data]="taux_service_ordonnance" [options]="options" class="chartline"/>
                            <div class="grid btm-chart">
                                <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                                    <h2>{{calculateMoyenGlobalTaux(taux_service_ordonnance)}}%</h2>
                                </div>
                                <div class="col-12 sm:col-12 md:col-12 lg:col-6 text-right">
                                    <p-overlayPanel #op_taux_service_ordonnance>
                                        <div class="min-max-container">
                                            <h4 class="mb-2">Minimum: {{getMinMax('taux_service_ordonnance').min.entity_name}} avec un taux de <span class="text-red-700">{{getMinMax('taux_service_ordonnance').min.value}}%</span></h4>
                                            <hr class="mb-2">
                                            <h4>Maximum: {{getMinMax('taux_service_ordonnance').max.entity_name}} avec un taux de <span class="text-green-700">{{getMinMax('taux_service_ordonnance').max.value}}%</span></h4>
                                        </div>
                                    </p-overlayPanel>
                                    <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2" (click)="op_taux_service_ordonnance.toggle($event)"/>
                                    <!-- <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2" (onClick)="DetailTablBoard()"/> -->
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="col-12 sm:col-12 md:col-12 lg:col-4">
                        <div class="bg-chart">
                            <h3>Taux de service medicament</h3>
                            <p-chart type="line" [data]="taux_service_medicament" [options]="options" class="chartline"/>
                            <div class="grid btm-chart">
                                <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                                    <h2>{{calculateMoyenGlobalTaux(taux_service_medicament)}}%</h2>
                                </div>
                                <div class="col-12 sm:col-12 md:col-12 lg:col-6 text-right">
                                    <p-overlayPanel #op_taux_service_medicament>
                                        <div class="min-max-container">
                                            <h4 class="mb-2">Minimum: {{getMinMax('taux_service_medicament').min.entity_name}} avec un taux de <span class="text-red-700">{{getMinMax('taux_service_medicament').min.value}}%</span></h4>
                                            <hr class="mb-2">
                                            <h4>Maximum: {{getMinMax('taux_service_medicament').max.entity_name}} avec un taux de <span class="text-green-700">{{getMinMax('taux_service_medicament').max.value}}%</span></h4>
                                        </div>
                                    </p-overlayPanel>
                                    <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2" (click)="op_taux_service_medicament.toggle($event)"/>
                                    <!-- <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2" (onClick)="DetailTablBoard()"/> -->
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="col-12 sm:col-12 md:col-12 lg:col-4">
                        <div class="bg-chart">
                            <h3>Taux de prescription</h3>
                            <p-chart type="line" [data]="taux_prescription" [options]="options" class="chartline"/>
                            <div class="grid btm-chart">
                                <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                                    <h2>{{calculateMoyenGlobalTaux(taux_prescription)}}%</h2>
                                </div>
                                <div class="col-12 sm:col-12 md:col-12 lg:col-6 text-right">
                                    <p-overlayPanel #op_taux_prescription>
                                        <div class="min-max-container">
                                            <h4 class="mb-2">Minimum: {{getMinMax('taux_prescription').min.entity_name}} avec un taux de <span class="text-red-700">{{getMinMax('taux_prescription').min.value}}%</span></h4>
                                            <hr class="mb-2">
                                            <h4>Maximum: {{getMinMax('taux_prescription').max.entity_name}} avec un taux de <span class="text-green-700">{{getMinMax('taux_prescription').max.value}}%</span></h4>
                                        </div>
                                    </p-overlayPanel>
                                    <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2" (click)="op_taux_prescription.toggle($event)"/>
                                    <!-- <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2" (onClick)="DetailTablBoard()"/> -->
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="col-12 sm:col-12 md:col-12 lg:col-4">
                        <div class="bg-chart">
                            <h3>Taux proche de pneurie</h3>
                            <p-chart type="line" [data]="taux_proche_penuerie" [options]="options" class="chartline"/>
                            <div class="grid btm-chart">
                                <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                                    <h2>{{calculateMoyenGlobalTaux(taux_proche_penuerie)}}%</h2>
                                </div>
                                <div class="col-12 sm:col-12 md:col-12 lg:col-6 text-right">
                                    <p-overlayPanel #op_taux_proche_penuerie>
                                        <div class="min-max-container">
                                            <h4 class="mb-2">Minimum: {{getMinMax('taux_proche_penuerie').min.entity_name}} avec un taux de <span class="text-red-700">{{getMinMax('taux_proche_penuerie').min.value}}%</span></h4>
                                            <hr class="mb-2">
                                            <h4>Maximum: {{getMinMax('taux_proche_penuerie').max.entity_name}} avec un taux de <span class="text-green-700">{{getMinMax('taux_proche_penuerie').max.value}}%</span></h4>
                                        </div>
                                    </p-overlayPanel>
                                    <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2" (click)="op_taux_proche_penuerie.toggle($event)"/>
                                    <!-- <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2" (onClick)="DetailTablBoard()"/> -->
                                </div> 
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="chartdci mt-4 mb-4">
                <div class="filter p-2 mb-3 ml-2 flex justify-content-between">
                    <h3 class="mb-4">KPI PAR ULC</h3>
                    <div class="entity-filter flex">
                        <div *ngIf="!currentUlc" class="mr-2">
                            <p-dropdown
                                [options]="ulcForDropDown"
                                class="w-hopital"
                                [(ngModel)]="selectedEntity" 
                                (onChange)="onEntityChange($event)"
                                optionLabel="name" 
                                placeholder="Séléctionner ULC" />
                        </div>
                        <div *ngIf="!currentUlc">
                            <p-dropdown
                                [options]="tauxForDropDownUlc"
                                class="w-hopital"
                                [(ngModel)]="selectedTaux" 
                                (onChange)="onTauxChange($event)"
                                optionLabel="name" 
                                placeholder="Centre de santé + Hopital : Tous" />
                        </div>
                        <div *ngIf="currentUlc" class="mr-2">
                            <p-dropdown
                                [options]="ummcForDropDown"
                                class="w-hopital"
                                [(ngModel)]="selectedEntity" 
                                (onChange)="onEntityChange($event)"
                                optionLabel="name" 
                                placeholder="Séléctionner UMMC" />
                        </div>
                        <div *ngIf="currentUlc">
                            <p-dropdown
                                [options]="tauxForDropDownUmmc"
                                class="w-hopital"
                                [(ngModel)]="selectedTaux" 
                                (onChange)="onTauxChange($event)"
                                optionLabel="name" 
                                placeholder="Centre de santé + Hopital : Tous" />
                        </div>
                    </div>
                </div>
                
                <!-- <p-chart type="bar" [data]="databar" [options]="optionsdata" /> -->
                <p-chart type="line" [data]="databar" [options]="optionsdata" />
            </div>
            <div class="chartdci mt-4 mb-4">
                <h3 class="mb-4">FIABILITÉ DES PRÉVISIONS</h3>
                <!-- <p-chart type="bar" [data]="databardouble" [options]="optionsdatadouble" /> -->
            </div>
        </div>
    </div>
    <div class="col-12 sm:col-12 md:col-12 lg:col-4">
        <div *ngIf="showInitialMarkers" class="showInitial mb-4 mt-2">
            <span><strong><i class="pi pi-arrow-left mr-2 mt-1 text-lg cursor-pointer" (click)="showInitial()"></i> {{currentUlc?.name}}</strong> </span>
        </div>
        <div class="map">
            <div id="map" style="width:100%;height:100%"></div>
            </div>
    </div>
</div>