::ng-deep .uplaodfile{
    .btn-upload .p-button{
        padding: 0.75rem 1.25rem;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
        border-radius: 6px;
    }
    .p-button .p-button-label {
        padding-left: 10px !important;
    }
    .download-filter .p-button{
        width: 3rem;
        padding: 0.7rem 0;
        background-color: #2A72B9;
        border-color: #2A72B9;
        margin-left: 15px;
    }
}
::ng-deep .tableau-bord{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    padding: 15px;
        h3{
            color: #25265E;
        }
        
}
::ng-deep .chartline{
    display: block;
    height: 100px !important;
    width: 100% !important;
}
::ng-deep .bg-chart{
    background: linear-gradient(180deg, #FFFFFF 0%, #B7D6FE 100%);
    box-shadow: inset 0px 3px 6px #00000029;
    border: 2px solid #CCD6EE94;
    border-radius: 12px;
    padding: 10px;
    h3{
        color: #25265E;
        font-size: 14px;
        padding-bottom: 10px;
    }
    .btm-chart{
        .btnplus{
            line-height: 2;
        }
        h2{
            color: #25265E;
            font-weight: bold;
        }
        .p-button{
            padding: 5px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #0000003C;
            border-radius: 7px;
            color: #25265E;
        }
        .p-button-label {
            padding-left: 10px;
            font-size: 13px;
        }
         .p-button-icon{
            font-size: 10px;
        }
    }
}
::ng-deep .map {
    width: 100%;
    height: 100vh;
    }
::ng-deep .filter {
    .p-dropdown{
        width: 14rem;
    }
    .w-hopital   .p-dropdown{
        width: 19rem;
    }
    .p-inputtext,
    .p-dropdown-item{
        padding: 0.5rem 0.75rem;
    }
    .search-filter .p-button{
        width: 2.5rem;
        padding: 0.5rem 0;
        background-color: #0A536F;
        border-color: #0A536F;
    }
 }

 .showInitial{
    span{
        color: #25265E;
    }

 }
