<div class="filter p-2 mb-3 ml-2 flex gap-3">
    <div>
        <p-dropdown 
            [options]="regions" 
            [(ngModel)]="selectedRegion" 
            optionLabel="name" 
            placeholder="Région : Tous" />
    </div>
    <div>
        <p-dropdown 
            [options]="province" 
            [(ngModel)]="selectedProvince" 
            optionLabel="name" 
            placeholder="Province : Tous" />
    </div>
    <div>
        <p-dropdown 
            [options]="hopital"
            class="w-hopital"
            [(ngModel)]="selectedHopital" 
            optionLabel="name" 
            placeholder="Centre de santé + Hopital : Tous" />
    </div>
    <div>
        <p-calendar 
        [(ngModel)]="rangeDates" 
        selectionMode="range" 
        [readonlyInput]="true"
        [showIcon]="true"  
        placeholder="Du 20/09/25 au 27/09/25" />
    </div>
    <div>
        <p-button icon="pi pi-search" class="search-filter"/>
    </div>
    <div>
        <p-button icon="pi pi-download" class="download-filter"/>
    </div>
</div>
<div class="grid ml-2 mr-2">
    <div class="col-12 sm:col-12 md:col-12 lg:col-8">
        <div class="tableau-bord">
            <h3 class="mb-5">TABLEAU DE BORD GÉNÉRAL</h3>
            <div class="grid">
                <div class="col-12 sm:col-12 md:col-12 lg:col-4">
                    <div class="bg-chart">
                        <h3>Taux de péremption</h3>
                        <p-chart type="line" [data]="data" [options]="options" class="chartline"/>
                        <div class="grid btm-chart">
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                                <h2>0.7%</h2>
                            </div>
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6 text-right">
                                <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2" (onClick)="DetailTablBoard()"/>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-4">
                    <div class="bg-chart">
                        <h3>Taux de disponibilité</h3>
                        <p-chart type="line" [data]="data" [options]="options" class="chartline"/>
                        <div class="grid btm-chart">
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                                <h2>95%</h2>
                            </div>
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6 text-right">
                                <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2" (onClick)="DetailTablBoard()"/>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-4">
                    <div class="bg-chart">
                        <h3>Taux de couverture</h3>
                        <p-chart type="line" [data]="data" [options]="options" class="chartline"/>
                        <div class="grid btm-chart">
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                                <h2>85%</h2>
                            </div>
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6 text-right">
                                <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2" (onClick)="DetailTablBoard()"/>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-12 sm:col-12 md:col-12 lg:col-4">
                    <div class="bg-chart">
                        <h3>Taux de rupture</h3>
                        <p-chart type="line" [data]="data" [options]="options" class="chartline"/>
                        <div class="grid btm-chart">
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                                <h2>5%</h2>
                            </div>
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6 text-right">
                                <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2" (onClick)="DetailTablBoard()"/>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-4">
                    <div class="bg-chart">
                        <h3>Taux de fiabilitété des prévisions</h3>
                        <p-chart type="line" [data]="data" [options]="options" class="chartline"/>
                        <div class="grid btm-chart">
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                                <h2>92%</h2>
                            </div>
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6 text-right">
                                <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2" (onClick)="DetailTablBoard()"/>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-4">
                    <div class="bg-chart">
                        <h3>Taux de service</h3>
                        <p-chart type="line" [data]="data" [options]="options" class="chartline"/>
                        <div class="grid btm-chart">
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                                <h2>93%</h2>
                            </div>
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6 text-right">
                                <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2" (onClick)="DetailTablBoard()"/>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="chartdci mt-4 mb-4">
                <h3 class="mb-4">ANALYSE PARETO DE LA CONSOMMATION PAR DCI</h3>
                <!-- <p-chart type="bar" [data]="databar" [options]="optionsdata" /> -->
                <p-chart type="line" [data]="databar" [options]="optionsdata" />
            </div>
            <div class="chartdci mt-4 mb-4">
                <h3 class="mb-4">FIABILITÉ DES PRÉVISIONS</h3>
                <p-chart type="bar" [data]="databardouble" [options]="optionsdatadouble" />
            </div>
        </div>
    </div>
    <div class="col-12 sm:col-12 md:col-12 lg:col-4">
        <div class="map">
            <div id="map" style="width:100%;height:100%"></div>
            </div>
    </div>
</div>