<div class="grid ml-2 mr-2">
    <div class="col-12 sm:col-12 md:col-12 lg:col-8">
        <div class="tableau-bord">
            <h3 class="mb-5">TABLEAU DE BORD GÉNÉRAL</h3>
            <div class="grid">
                <div class="col-12 sm:col-12 md:col-12 lg:col-4">
                    <div class="bg-chart">
                        <h3>Taux de péremption</h3>
                        <p-chart type="line" [data]="data" [options]="options" class="chartline"/>
                        <div class="grid btm-chart">
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                                <h2>0.7%</h2>
                            </div>
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6 text-right">
                                <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2"/>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-4">
                    <div class="bg-chart">
                        <h3>Taux de disponibilité</h3>
                        <p-chart type="line" [data]="data" [options]="options" class="chartline"/>
                        <div class="grid btm-chart">
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                                <h2>95%</h2>
                            </div>
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6 text-right">
                                <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2"/>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-4">
                    <div class="bg-chart">
                        <h3>Taux de couverture</h3>
                        <p-chart type="line" [data]="data" [options]="options" class="chartline"/>
                        <div class="grid btm-chart">
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                                <h2>85%</h2>
                            </div>
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6 text-right">
                                <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2"/>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-12 sm:col-12 md:col-12 lg:col-4">
                    <div class="bg-chart">
                        <h3>Taux de rupture</h3>
                        <p-chart type="line" [data]="data" [options]="options" class="chartline"/>
                        <div class="grid btm-chart">
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                                <h2>5%</h2>
                            </div>
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6 text-right">
                                <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2"/>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-4">
                    <div class="bg-chart">
                        <h3>Taux de fiabilitété des prévisions</h3>
                        <p-chart type="line" [data]="data" [options]="options" class="chartline"/>
                        <div class="grid btm-chart">
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                                <h2>92%</h2>
                            </div>
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6 text-right">
                                <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2"/>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-4">
                    <div class="bg-chart">
                        <h3>Taux de service</h3>
                        <p-chart type="line" [data]="data" [options]="options" class="chartline"/>
                        <div class="grid btm-chart">
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                                <h2>93%</h2>
                            </div>
                            <div class="col-12 sm:col-12 md:col-12 lg:col-6 text-right">
                                <p-button label="Voir plus" severity="secondary"icon="pi pi-align-justify"  class="btnplus p-2"/>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="chartdci mt-4 mb-4">
                <h3 class="mb-4">ANALYSE PARETO DE LA CONSOMMATION PAR DCI</h3>
                <p-chart type="bar" [data]="databar" [options]="optionsdata" />
            </div>
            <div class="chartdci mt-4 mb-4">
                <h3 class="mb-4">FIABILITÉ DES PRÉVISIONS</h3>
                <p-chart type="bar" [data]="databardouble" [options]="optionsdatadouble" />
            </div>
        </div>
    </div>
    <div class="col-12 sm:col-12 md:col-12 lg:col-4">
        Maps
    </div>
</div>