<div class="container">
  <div class="grid mt-0">
    <div class="col-12 sm:col-12 md:col-12 lg:col-6 bg-form hidden lg:block">
      <!-- <img src="../../../../assets/img/logo-login.png" class="w-7 img-login"> -->
    </div>
    <div class="col-12 sm:col-12 md:col-12 lg:col-6">
      <div class="col flex justify-content-center align-items-center bg-white border-round-xl">
        <div class="w-7 mt-8">
          <div class="mb-6 mt-8 text-center">
            <img src="../../../../assets/img/logo-login.png" class="w-7"/>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-column gap-4 w-full">
          <div class="w-full">
            <span class="p-input-icon-left w-full">
                <i class="pi pi-envelope"></i>
                <input type="text" pInputText formControlName="login" class="p-inputtext-lg w-full pl-6" placeholder="Entrez votre identifiant">         
            </span>
            <div *ngIf="loginForm.get('login')?.invalid && (loginForm.get('login')?.dirty || loginForm.get('login')?.touched)">
              <div class="input-errors" *ngIf="loginForm.get('login')?.errors?.['required']">Identifiant obligatoire</div>
            </div>
          </div>
          <div class="w-full">
            <span class="p-input-icon-left w-full">
                <i class="pi pi-key"></i>
                <input type="password" pInputText formControlName="password" class="p-inputtext-lg w-full pl-6" placeholder="Tapez votre mot de passe">         
            </span>
            <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
              <div class="input-errors" *ngIf="loginForm.get('password')?.errors?.['required']">Mot de passe est obligatoire</div>
            </div>
          </div>
          <div class="grid">
            <div class="col-12 sm:col-12 md:col-12 lg:col-6 mt-4 mb-5 flex">
              <p class="flex align-items-center">Créer Un Compte</p>
            </div>
            <div class="col-12 sm:col-12 md:col-12 lg:col-6 mt-4 mb-5 ">
              <button *ngIf="!isLoading" pButton pRipple label="Se connecter" class="w-full text-lg login-btn" [disabled]="loginForm.invalid"></button>
              <button *ngIf="isLoading" pButton pRipple label="Connexion en cours..." class="w-full text-lg login-btn" [disabled]="loginForm.invalid"></button>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>

</div>

