.container{
    // background: url('../../../../assets/img/bg.png') no-repeat;
    i{
        top: 30%;
        font-size: 20px;
        color: #0A536F;
    }
    p{
        color: #828081;
    }
    input{
        background: rgb(255, 255, 255);
        border: 0.619965px solid rgb(173, 191, 207);
        border-radius: 8px;
        height: 50px;
        color: #000B33;
    }
    .login-btn{
        background: transparent linear-gradient(180deg, #0A536F 0%, #000B33 100%) 0% 0% no-repeat padding-box;        box-shadow: rgba(0, 0, 0, 0.25) 0px 3.35869px 3.35869px;
        border-radius: 8px;
        height: 55px;
    }
}
.bg-form{
    background: transparent linear-gradient(180deg, #0a536f6b 0%, #000b3369 100%) 0% 0% no-repeat padding-box;    border: 1px solid #707070;
    height: 100vh;
}