<div class="card-panel">
    <p-tabView>
      <p-tabPanel  header="Informations personnelles" >
        <form>
            <div class="grid mb-4 mt-4">
                <div class="col-12 sm:col-12 md:col-12 lg:col-2 flex align-items-center">
                    <label>Username</label>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-10">
                    <input  type="text" pInputText class="p-2 w-5" required/>
                </div>
            </div>
            <div class="grid mb-4">
                <div class="col-12 sm:col-12 md:col-12 lg:col-2 flex align-items-center">
                    <label>Email</label>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-10">
                    <input  type="email" pInputText class="p-2 w-5"/>
                </div>
            </div>
            <div class="grid mb-4">
                <div class="col-12 sm:col-12 md:col-12 lg:col-2 flex align-items-center">
                    <label>Gsm</label>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-10">
                    <input  type="tel" pInputText class="p-2 w-5"/>
                </div>
            </div>
            <div class="grid mb-4">
                <div class="col-12 sm:col-12 md:col-12 lg:col-2 flex align-items-center">
                    <label>Prénom</label>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-10">
                    <input  type="text" pInputText class="p-2 w-5"/>
                </div>
            </div>
            <div class="grid mb-4">
                <div class="col-12 sm:col-12 md:col-12 lg:col-2 flex align-items-center">
                    <label>Nom</label>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-10">
                    <input  type="text" pInputText class="p-2 w-5"/>
                </div>
            </div>
            <div class="grid mb-4">
                <div class="col-12 sm:col-12 md:col-12 lg:col-2 flex align-items-center">
                    <label>Avatar</label>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-10">
                    <input  type="file" pInputText class="p-2 w-5"/>
                </div>
            </div>
            <div class="col-12 pl-0">
                <button pButton 
                pRipple 
                label="Sauvegarder les modifications" 
                class="p-button-success p-3 mt-4"></button>
            </div>
        </form>
      </p-tabPanel>
      <p-tabPanel header="Modifier le mot de passe" >
        <form>
            <div class="grid mb-4 mt-4">
                <div class="col-12 sm:col-12 md:col-12 lg:col-2 flex align-items-center">
                    <label>mot de passe actuel</label>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-10">
                    <input  type="password" pInputText class="p-2 w-5"/>
                </div>
            </div>
            <div class="grid mb-4">
                <div class="col-12 sm:col-12 md:col-12 lg:col-2 flex align-items-center">
                    <label>Mot de passe</label>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-10">
                    <input  type="password" pInputText class="p-2 w-5"/>
                </div>
            </div>
            <div class="col-12 pl-0">
                <button pButton 
                pRipple 
                label="Sauvegarder les modifications" 
                class="p-button-danger  p-3 mt-4"></button>
            </div>
        </form>
      </p-tabPanel>
      <p-tabPanel header="2FA" >
        <h2 class="text-black">Activer l'authentification à deux facteurs<span class="ml-2 bg-red-500 text-white text-sm p-1">inactive</span></h2>
        <h4 class="pt-2 pb-3 font-normal">Scannez ce code-barres avec votre application.  </h4>
        <div class="mt-2 mb-5">
            <img src="../../../../assets/img/download.png" class="w-2"/>
            <p class="text-black">ZEPV5E4WVO5NVCCH</p>
        </div>
        <div class="chiffre mb-4">
            <p>Entrez le code à six chiffres de l'application  </p>
            <p-inputOtp [(ngModel)]="value"  class=" mt-4 pl-0"/>
        </div>
        <div class="col-12 pl-0">
            <button pButton 
            pRipple 
            label="Activer" 
            class="p-button-success w-2  p-2 mt-4"></button>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>