<div class="h-full mt-4">
    <iframe src="https://services.aba.technology/public/services/symptomator?gender=Femme&amp;age=16" style="width: 100%; height: 100vh;"></iframe>
</div>
<div class="flex justify-content-between md:mt-6">
    <button  (click)="Previous()"  pRipple type="button"  label="Retour"  class="text-white surface-500 surface-border px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:surface-500 hover:surface-border active:surface-500 active:surface-border md:w-2">Retour</button>
    <button pRipple pButton type="button" label="Étape suivante" (click)="save()"  class="text-white bg-primary-500 border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer md:w-2"></button>
</div>