<p-breadcrumb [model]="breadcrumb" [home]="home"></p-breadcrumb>

<div class="grid h-full mt-2">
    <div class="col-3">
        <div class="info-content bordered h-full">
            <div class="photo flex justify-content-center">
                <image-with-preview [imgText]="'Déposez l\'image, ou'" [browseText]="'parcourez'" [width]="'9rem'" [height]="'9rem'" (imageChange)="imageChange($event)" (deleteImage)="deleteImage($event)"></image-with-preview>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="info-content bordered h-full">
            <p-steps [model]="formSteps"[(activeIndex)]="activeIndex"></p-steps>
            <form class="mt-4" [formGroup]="personelInfos" *ngIf="activeIndex == 0">
                <div class="grid">
                    <div class="col-6">
                        <div class="grid">
                            <div class="col-12 mb-4">
                                <h4>Informations personnelles</h4>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="col-6 mb-3">
                                <span class="p-float-label p-input-icon-left">
                                    <i class="pi pi-user text-primary"></i>
                                    <input pInputText class="p-inputtext-sm" id="nom" formControlName="nom"/>
                                    <label htmlFor="nom">Nom</label>
                                </span>
                            </div>
                            <div class="col-6 mb-3">
                                <span class="p-float-label p-input-icon-left">
                                    <i class="pi pi-user text-primary"></i>
                                    <input pInputText class="p-inputtext-sm" id="prenom" formControlName="prenom"/>
                                    <label htmlFor="prenom">Prénom</label>
                                </span>
                            </div>
                            <div class="col-6 mb-3">
                                <span class="p-float-label">
                                    <p-calendar id="date_naissance" formControlName="date_naissance" [showIcon]="true" class="p-calendar-sm"></p-calendar>
                                    <label htmlFor="date_naissance">Date de naissance</label>
                                </span>
                            </div>
                            <div class="col-6 mb-3">
                                <span class="p-float-label">
                                    <p-dropdown class="p-dropdown-sm" inputId="situation" [options]="situations" formControlName="situation" [(ngModel)]="selectedSituation" optionLabel="name"></p-dropdown>
                                    <label for="situation">Situation familliale</label>
                                </span>
                            </div>
                            <div class="col-6 mb-3">
                                <span class="p-float-label p-input-icon-left">
                                    <i class="pi pi-users text-primary"></i>
                                    <input pInputText class="p-inputtext-sm" id="prenom" pKeyFilter="int" formControlName="nbr_enfant"/>
                                    <label for="nbr_enfant">Nombre d'enfants</label>
                                </span>
                            </div>
                            <div class="col-6 mb-3">
                                <span class="p-float-label p-input-icon-left">
                                    <i class="pi pi-phone text-primary"></i>
                                    <input pInputText class="p-inputtext-sm" id="telephone"/>
                                    <label for="telephone">Téléphone</label>
                                </span>
                            </div>
                            <div class="col-6 mb-3">
                                <span class="p-float-label p-input-icon-left">
                                    <i class="pi pi-map-marker text-primary"></i>
                                    <input pInputText class="p-inputtext-sm" id="adresse"/>
                                    <label for="adresse">Adresse</label>
                                </span>
                            </div>
                            <div class="col-6 mb-3">
                                <span class="p-float-label p-input-icon-left">
                                    <i class="pi pi-id-card text-primary"></i>
                                    <input pInputText class="p-inputtext-sm" id="identification_nationale" pKeyFilter="alphanum"/>
                                    <label for="identification_nationale">Identification nationale</label>
                                </span>
                            </div>
                            <div class="col-12 mb-3">
                                <span class="p-float-label">
                                    <p-dropdown class="nationalite" inputId="nationalite" [options]="nationalities" formControlName="nationalite" [(ngModel)]="selectedNationality" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true">
                                        <ng-template pTemplate="selectedItem">
                                            <div class="flex align-items-center gap-2 w-full" *ngIf="selectedNationality">
                                                <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'flag-icon flag-icon-' + selectedNationality.code.toLowerCase()" style="width: 18px"/>
                                                <div>{{ selectedNationality.name }}</div>
                                            </div>
                                        </ng-template>
                                        <ng-template let-country pTemplate="item">
                                            <div class="flex align-items-center gap-2 w-full">
                                                <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'flag-icon flag-icon-' + country.code.toLowerCase()" style="width: 18px"/>
                                                <div>{{ country.name }}</div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                    <label for="nationalite">Nationalité</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="grid">
                            <div class="col-12 mb-4">
                                <h4>Informations profesionnelles</h4>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="col-6 mb-3">
                                <span class="p-float-label">
                                    <p-dropdown [disabled]="true" class="p-dropdown-sm" inputId="groupe" *ngIf="(isGroupesLoading$ | async)"></p-dropdown>
                                    <p-dropdown class="p-dropdown-sm" inputId="groupe" [options]="groupes" formControlName="groupe" [(ngModel)]="selectedGroupe" optionLabel="name" *ngIf="!(isGroupesLoading$ | async)"></p-dropdown>
                                    <label for="groupe">Groupe</label>
                                </span>
                            </div>
                            <div class="col-6 mb-3">
                                <span class="p-float-label">
                                    <p-dropdown [disabled]="true" class="p-dropdown-sm" inputId="departement" *ngIf="(isDepartementsLoading$ | async)"></p-dropdown>
                                    <p-dropdown class="p-dropdown-sm" inputId="departement" [options]="departements" formControlName="departement" [(ngModel)]="selectedDepartement" optionLabel="name" *ngIf="!(isDepartementsLoading$ | async)"></p-dropdown>
                                    <label for="departement">Departement</label>
                                </span>
                            </div>
                            <div class="col-6 mb-3">
                                <span class="p-float-label p-input-icon-left">
                                    <i class="pi pi-id-card text-primary"></i>
                                    <input pInputText class="p-inputtext-sm" id="identification_nationale" pKeyFilter="alphanum"/>
                                    <label for="identification_nationale">N° sécurité sociale</label>
                                </span>
                            </div>
                            <div class="col-6 mb-3">
                                <span class="p-float-label p-input-icon-left">
                                    <i class="pi pi-at text-primary"></i>
                                    <input pInputText class="p-inputtext-sm" id="email" formControlName="nom"/>
                                    <label htmlFor="email">E-mail</label>
                                </span>
                            </div>
                            <div class="col-12 mb-3">
                                <span class="p-float-label">
                                    <p-chips formControlName="diplomes"></p-chips>
                                    <label>Diplômes</label>
                                </span>
                            </div>
                            <div class="col-12 mb-3">
                                <span class="p-float-label">
                                    <p-chips formControlName="experiences_anterieures"></p-chips>
                                    <label>Experiences anterieures</label>
                                </span>
                            </div>
                            <div class="col-12 mb-3">
                                <span class="p-float-label">
                                    <p-dropdown class="p-dropdown-sm w-full block dropdown-superieur" inputId="superieur" *ngIf="(isCollaborateursLoading$ | async)"></p-dropdown>
                                    <p-dropdown class="p-dropdown-sm w-full block dropdown-superieur" inputId="superieur" [options]="superieurs" [(ngModel)]="selectedSuperieur" formControlName="superieur"  optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" *ngIf="!(isCollaborateursLoading$ | async)"></p-dropdown>
                                    <label for="superieur">Superieur</label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="col-6"></div>
                    <div class="col-6 text-right">
                        <button pButton pRipple type="button" label="Suivant" (click)="next()"></button>
                    </div>
                </div>
            </form>
            <form action="" [formGroup]="contrat" *ngIf="activeIndex == 1">
                <div class="grid">
                    <div class="col-6">
                        <span class="p-float-label">
                            <p-dropdown class="p-dropdown-sm" inputId="situation" [options]="typeContrat" formControlName="type" [(ngModel)]="selectedSituation" optionLabel="name"></p-dropdown>
                            <label for="situation">Type du contrat</label>
                        </span>
                    </div>
                    <div class="col-6">fefef</div>
                </div>
                <div class="grid">
                    <div class="col-6 text-left"><button class="p-button-outlined p-button-secondary" pButton pRipple type="button" label="Précédent" (click)="prev()"></button></div>
                    <div class="col-6 text-right"><button pButton pRipple type="button" label="Suivant" (click)="next()"></button></div>
                </div>
            </form>
        </div>
    </div>
</div>