
<app-prescription #child [consultation]="consultation"></app-prescription>
<div class="mt-4 compterendu ml-0 mr-0 p-3">
    <div class="grid">
        <div class="col-12 sm:col-12 md:col-6 lg:col-6">
            <h4 class="title">Compte rendu</h4>
        </div>
        <div class="col-12 sm:col-12 md:col-6 lg:col-6 text-right">
            <img src="../../../../../assets/img/comptrn.svg" class="w-comptrn cursor-pointer" (click)="op.toggle($event)"/>
        </div>
        <p-overlayPanel #op>
            <h4 class="text-cyan-500">Analyse AI</h4>
            <p class="text-500 mt-3 mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam</p>
        </p-overlayPanel>
    </div>
<div class="grid serach">
    <div class="col-12 sm:col-12 md:col-6 lg:col-6">
        <label class="mb-3 block">Diagnostic principal</label>
        <div class="relative">
            <p-autoComplete [(ngModel)]="selectedMaladie" [suggestions]="filtredMaladie" (completeMethod)="searchMaladie($event)" field="name" [minLength]="1" class="w-full"></p-autoComplete>
            <div class="absolute selectbases cursor-pointer" (click)="Listglobal()">
                <i class="pi pi-list"></i>
            </div>
        </div>
    </div>
    <div class="col-12 sm:col-12 md:col-6 lg:col-6">
        <label class="mb-3 block">Diagnostic associé</label>
        <div class="relative">
            <p-autoComplete (onSelect)="onSelectMaladie($event)" [suggestions]="filtredMaladie" (completeMethod)="searchMaladie($event)" field="name" [minLength]="1" class="w-full"></p-autoComplete>
            <div class="absolute selectbases cursor-pointer" (click)="Listglobal()">
                <i class="pi pi-list"></i>
            </div>
        </div>
        <div>
            <span class="selected" *ngFor="let maladie of selectedSecondaryMaladie; let i = index">{{maladie.name}} <span class="delete" (click)="deleteMaladie(i)">X</span></span>
        </div>
    </div>
    <div class="col-12">
        <div class="grid">
            <div class="col-12 sm:col-12 md:col-6 lg:col-6">
                <label class="mb-3 block">Compte-rendu</label>
            </div>
            <div class="col-12 sm:col-12 md:col-6 lg:col-6 text-right">
                <img src="../../../../../assets/img/cmpt.svg" class="w-icon"/>
            </div>
        </div>
        <textarea [(ngModel)]="compteRendu" pInputTextarea></textarea>
    </div>
</div>
</div>
<div class="flex justify-content-between md:mt-6">
    <button  (click)="Previous()" pRipple type="button"  label="Retour"  class="text-white surface-500 surface-border px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:surface-500 hover:surface-border active:surface-500 active:surface-border md:w-2">Retour</button>
    <button routerLink="consultation/preview" pRipple pButton type="button" label="Enregistrer" class="text-white bg-primary-500 border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer md:w-2"></button>
</div>
