<div class="grid">
    <div class="col-12 pl-4 pt-5">
        <form [formGroup]="personnelForm">
            <div formArrayName="personnels">
                <div class="grid">
                    <div class="col-12 sm:col-12 md:col-6 lg:col-6">
                        <h4 class="mb-3">Antécédents Médicaux</h4>
                    </div>
                    <div class="col-12 sm:col-12 md:col-6 lg:col-6 text-right">
                        <p-button (click)="addPersonnel()"  pRipple label="Ajouter" icon="pi pi-plus-circle" ></p-button>
                    </div>
                </div>
                <div class="grid serach pl-2 pt-5" *ngFor="let group of personnels.controls; let i = index" [formGroupName]="i">
                    <div class="col-12 sm:col-12 md:col-5 lg:col-5">
                        <label class="mb-3 block">Maladies</label>
                        <p-autoComplete [suggestions]="filtredPersonnelMaladie" (onSelect)="onSelectPersonnelMaladie($event, i)" (completeMethod)="searchPersonnelMaladie($event)"  field="name" [minLength]="1" class="w-full"></p-autoComplete>
                        <div>
                            <span class="selected" *ngFor="let maladie of selectedPersonnelMaladie[i]; let j = index">{{maladie.name}} <span class="delete" (click)="deleteSelectedPersonnelMaladie(i,j)">X</span></span>
                        </div>
                    </div>
                    <div class="col-12 sm:col-12 md:col-2 lg:col-2">
                        <label class="mb-3 block">Année</label>
                        <p-dropdown formControlName="year" [options]="anne" optionLabel="name" ></p-dropdown>
                    </div>
                    <div class="col-12 sm:col-12 md:col-4 lg:col-4">
                        <label class="mb-3 block">Commentaire</label>
                        <textarea rows="1" class="w-full" pInputTextarea placeholder="Commentaire"></textarea>
                    </div>
                    <div class="col-12 sm:col-12 md:col-1 lg:col-1 mt-6">
                        <i class="pi pi-trash cursor-pointer text-red-600" (click)="deletePersonnel(i)"></i>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="border-bottom-1 border-gray-500  w-full h-2rem surface-overlay font-bold  flex align-items-center justify-content-center"></div>
    <div class="col-12 pl-4 pt-5">
        <form [formGroup]="surigicalForm">
            <div formArrayName="surigicals">
                <div class="grid">
                    <div class="col-12 sm:col-12 md:col-6 lg:col-6">
                        <h4 class="mb-3">Antécédents Chirurgicaux</h4>
                    </div>
                    <div class="col-12 sm:col-12 md:col-6 lg:col-6 text-right">
                        <p-button (click)="addSurigical()"  pRipple label="Ajouter" icon="pi pi-plus-circle" ></p-button>
                    </div>
                </div>
                <div class="grid serach pl-2 pt-5" *ngFor="let group of surigicals.controls; let i = index" [formGroupName]="i">
                    <div class="col-12 sm:col-12 md:col-5 lg:col-5">
                        <label class="mb-3 block">Maladies</label>
                        <p-autoComplete [suggestions]="filtredSurigicalMaladie"(onSelect)="onSelectSurigicalMaladie($event, i)"  (completeMethod)="searchSurigicalMaladie($event)"  field="name" [minLength]="1" class="w-full"></p-autoComplete>
                        <div>
                            <span class="selected" *ngFor="let maladie of selectedSurigicalMaladie[i]; let j = index">{{maladie.name}} <span class="delete" (click)="deleteSelectedSurigicalMaladie(i,j)">X</span></span>
                        </div>
                    </div>
                    <div class="col-12 sm:col-12 md:col-2 lg:col-2">
                        <label class="mb-3 block">Année</label>
                        <p-dropdown formControlName="year" [options]="anne" optionLabel="name" ></p-dropdown>
                    </div>
                    <div class="col-12 sm:col-12 md:col-4 lg:col-4">
                        <label class="mb-3 block">Commentaire</label>
                        <textarea rows="1" class="w-full" pInputTextarea placeholder="Commentaire"></textarea>
                    </div>
                    <div class="col-12 sm:col-12 md:col-1 lg:col-1 mt-6">
                        <i class="pi pi-trash cursor-pointer text-red-600" (click)="deleteSurigical(i)"></i>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="flex justify-content-between md:mt-6">
    <button   pRipple type="button"  label="Annuler"  class="text-white surface-500 surface-border px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:surface-500 hover:surface-border active:surface-500 active:surface-border md:ml-4">Annuler</button>
    <button  (click)="save()" pRipple pButton type="button" label="Valider" class="text-white bg-primary-500 border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer"></button>
</div>