<div class="grid mb-3">
    <div class="col-12 sm:col-12 md:col-12 lg:col-8">
        <h2><i class="pi pi-angle-left text-3xl icon-tele"></i> Téléconsultation</h2>
    </div>
    <div class="col-12 sm:col-12 md:col-6 lg:col-4 text-right">
        <button   pButton pRipple label="Actualiser" icon="pi pi-undo"></button>
    </div>
</div>
<div class="grid mb-3 bg-white border-round-sm filter-tele ml-0 mr-0">
    <div class="col-12 sm:col-12 md:col-12 lg:col-3">
        <div class="grid filtre">
            <div class="col-12 sm:col-12 md:col-12 lg:col-2 flex align-items-center">
                Filtre :
            </div>
            <div class="col-12 sm:col-12 md:col-12 lg:col-5">
                <button class="btn-dispo"  pButton pRipple label="Disponible" icon="pi pi-user"></button>
            </div>
            <div class="col-12 sm:col-12 md:col-12 lg:col-5">
                <button class="btn-occupe"  pButton pRipple label="Occupé" icon="pi pi-user"></button>
            </div>
        </div>
    </div>
    <div class="col-12 sm:col-12 md:col-12 lg:col-9">
        <p-carousel  [value]="specialities" [showIndicators]="false" [numVisible]="6" [numScroll]="6" [circular]="true" [responsiveOptions]="responsiveOptions">
            <ng-template let-speciality pTemplate="item">
                <div (click)="filterBySpeciality(speciality.title)">
                    <button  pButton pRipple class="btn-filter2">
                        <img alt="logo" [src]="'../../../../assets/img/icons/'+speciality.icon" style="width: 1.5rem" />
                        <span class="ml-2 font-bold">{{speciality.title}}</span>
                    </button>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>
<div class="grid cards-tele">
    <div class="col-12 sm:col-12 md:col-12 lg:col-3">
        <p-card class="disponible" header="Disponible">
           <p class="text-center">
            <img src="../../../../assets/img/doctor.png"  class="w-4 border-circle shadow-2"/>
           </p>
           <h3 class="text-center mt-2 mb-2 title-doctor">Said Essaoudi</h3>
           <p class="text-center">Médecin généraliste</p>
           <div class="text-center mt-3">
                <button  pButton pRipple label="Appeler"  class="w-full text-md button-disponible"></button>
           </div>
        </p-card>
    </div>
    <div class="col-12 sm:col-12 md:col-12 lg:col-3">
        <p-card class="occupe" header="Occupé">
           <p class="text-center">
            <img src="../../../../assets/img/doctor2.png"  class="w-4 border-circle shadow-2"/>
           </p>
           <h3 class="text-center mt-2 mb-2 title-doctor">Anas Senhaji</h3>
           <p class="text-center">Médecin généraliste</p>
           <div class="text-center mt-3">
                <button  pButton pRipple label="Prendre un rendez-vous"  class="w-full text-md button-occupe"></button>
           </div>
        </p-card>
    </div>
    <div class="col-12 sm:col-12 md:col-12 lg:col-3">
        <p-card class="disponible" header="Disponible">
           <p class="text-center">
            <img src="../../../../assets/img/doctor.png"  class="w-4 border-circle shadow-2"/>
           </p>
           <h3 class="text-center mt-2 mb-2 title-doctor">Said Essaoudi</h3>
           <p class="text-center">Médecin généraliste</p>
           <div class="text-center mt-3">
                <button pButton pRipple label="Appeler" class="w-full text-md button-disponible"></button>
           </div>
        </p-card>
    </div>
    <div class="col-12 sm:col-12 md:col-12 lg:col-3">
        <p-card class="occupe" header="Occupé">
           <p class="text-center">
            <img src="../../../../assets/img/doctor2.png"  class="w-4 border-circle shadow-2"/>
           </p>
           <h3 class="text-center mt-2 mb-2 title-doctor">Anas Senhaji</h3>
           <p class="text-center">Médecin généraliste</p>
           <div class="text-center mt-3">
                <button   pButton pRipple label="Prendre un rendez-vous" class="w-full text-md button-occupe"></button>
           </div>
        </p-card>
    </div>
    <div class="col-12 sm:col-12 md:col-12 lg:col-3">
        <p-card class="occupe" header="Occupé">
           <p class="text-center">
            <img src="../../../../assets/img/doctor.png"  class="w-4 border-circle shadow-2"/>
           </p>
           <h3 class="text-center mt-2 mb-2 title-doctor">Anas Senhaji</h3>
           <p class="text-center">Médecin généraliste</p>
           <div class="text-center mt-3">
                <button pButton pRipple label="Prendre un rendez-vous" class="w-full text-md button-occupe"></button>
           </div>
        </p-card>
    </div>
    <div class="col-12 sm:col-12 md:col-12 lg:col-3">
        <p-card class="disponible" header="Disponible">
           <p class="text-center">
            <img src="../../../../assets/img/doctor.png"  class="w-4 border-circle shadow-2"/>
           </p>
           <h3 class="text-center mt-2 mb-2 title-doctor">Said Essaoudi</h3>
           <p class="text-center">Médecin généraliste</p>
           <div class="text-center mt-3">
                <button  pButton pRipple label="Appeler" class="w-full text-md button-disponible"></button>
           </div>
        </p-card>
    </div>
</div>