<div class="grid mt-4 pl-2 card-toxiques">
    <div class="col-12 sm:col-12 md:col-12 lg:col-12">
        <p-card class="h-screen">
            <h4 class="mb-3">Tabac</h4>
            <div class="group-qst flex">
                <div class="p-field-radiobutton">
                    <p-radioButton name="oui" [value]="true" [(ngModel)]="isTabac"  inputId="oui"></p-radioButton>
                    <label for="oui" class="ml-2">Oui</label>
                </div>
                <div class="p-field-radiobutton ml-7">
                    <p-radioButton name="non" [value]="false" [(ngModel)]="isTabac"  inputId="non"></p-radioButton>
                    <label for="non" class="ml-2">Non</label>
                </div>
            </div>
            <div class="card mt-4" *ngIf="isTabac">
                <p-tabView [(activeIndex)]="activeIndex">
                <p-tabPanel header="Actif">
                    <label class="mb-2 block">Cigarettes par jour</label>
                    <div class="p-inputgroup">
                        <input type="text" pInputText [(ngModel)]="perDay">
                        <button class="cursor-auto" type="button" pButton pRipple label="Jour"></button>         
                    </div>
                    <label class="mb-2 block mt-3">Durée</label>
                    <div class="p-inputgroup">
                        <input type="text" pInputText  [(ngModel)]="durationActif">
                        <button class="cursor-auto" type="button" pButton pRipple label="Années"></button>         
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Passif">
                    <label class="mb-2 block mt-3">Durée</label>
                    <div class="p-inputgroup">
                        <input type="text" pInputText [(ngModel)]="durationPassif">
                        <button class="cursor-auto" type="button" pButton pRipple label="Années"></button>         
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Sevré">
                    <label class="mb-2 block mt-3">Depuis</label>
                    <div class="p-inputgroup">
                        <input type="text" pInputText [(ngModel)]="durationSevre">
                        <button class="cursor-auto" type="button" pButton pRipple label="Années"></button>         
                    </div>
                </p-tabPanel>
                </p-tabView>
            </div>
        </p-card>
    </div>
<div class="col-12 sm:col-12 md:col-6 lg:col-6">
    <p-card class="h-screen">
        <h4 class="mb-3">Alcool</h4>
            <div class="group-qst flex">
                <div class="p-field-radiobutton">
                    <p-radioButton name="oui" [value]="true" [(ngModel)]="isAlcool"  inputId="oui"></p-radioButton>
                    <label for="oui" class="ml-2">Oui</label>
                </div>
                <div class="p-field-radiobutton ml-7">
                    <p-radioButton name="non" [value]="false" [(ngModel)]="isAlcool"  inputId="non"></p-radioButton>
                    <label for="non" class="ml-2">Non</label>
                </div>
            </div>
    </p-card>
</div>
<div class="col-12 sm:col-12 md:col-4 lg:col-4">
    <p-card class="h-screen">
        <h4 class="mb-3">Autres substances</h4>
            <div class="group-qst flex">
                <div class="p-field-radiobutton">
                    <p-radioButton name="oui" [value]="true" [(ngModel)]="isOther"  inputId="oui"></p-radioButton>
                    <label for="oui" class="ml-2">Oui</label>
                </div>
                <div class="p-field-radiobutton ml-7">
                    <p-radioButton name="non" [value]="false" [(ngModel)]="isOther"  inputId="non"></p-radioButton>
                    <label for="non" class="ml-2">Non</label>
                </div>
            </div>
            <div class="mt-3" *ngIf="isOther">
                <label class="mb-2 block">Nature</label>
                <textarea pInputTextarea class="w-full" [(ngModel)]="nature"></textarea>
            </div>
    </p-card>
</div>
</div>
<div class="flex justify-content-between md:mt-6">
    <button   pRipple type="button"  label="Annuler" class="text-white surface-500 surface-border px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:surface-500 hover:surface-border active:surface-500 active:surface-border">Annuler</button>
    <button  (click)="save()" pRipple pButton type="button" label="Valider" class="text-white bg-primary-500 border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer"></button>
</div>