<div class="grid mt-4 ">
    <div class="col-12 sm:col-12 md:col-4 lg:col-2">
        <div class="avance mb-2" [ngClass]="step == 1  ? 'active' : ''" (click)="setStep(1)">
            <p-button>
                <img alt="logo" src="../../../../../../assets/img/diabete.png" style="width: 2rem" />
                <span class="ml-2 font-bold">Diabéte</span>
            </p-button> 
        </div>
        <div class="avance mb-2" [ngClass]="step == 2  ? 'active' : ''" (click)="setStep(2)">
            <p-button>
                <img alt="logo" src="../../../../../../assets/img/cancer.png" style="width: 2rem" />
                <span class="ml-2 font-bold">Cancer de sein</span>
            </p-button> 
        </div>
        <div class="avance mb-2" [ngClass]="step == 3  ? 'active' : ''" (click)="setStep(3)">
            <p-button>
                <img alt="logo" src="../../../../../../assets/img/cancer-ut.png" style="width: 2rem" />
                <span class="ml-2 font-bold">Cancer d’utérus </span>
            </p-button> 
        </div>
        <div class="avance mb-2" [ngClass]="step == 4  ? 'active' : ''" (click)="setStep(4)">
            <p-button>
                <img alt="logo" src="../../../../../../assets/img/hta.png" style="width: 2rem" />
                <span class="ml-2 font-bold">HTA </span>
            </p-button> 
        </div>
    </div>
    <div class="col-12 sm:col-12 md:col-8 lg:col-10 h-auto" *ngIf="step === 1">
        <div class="h-full border-round-sm border-1 p-3">
            <app-diabete></app-diabete>
        </div>
    </div>
    <div class="col-12 sm:col-12 md:col-8 lg:col-10 h-auto" *ngIf="step === 2">
        <div class="h-full border-round-sm border-1 p-3">
            <app-cancer-sein></app-cancer-sein>
        </div>
    </div>
    <div class="col-12 sm:col-12 md:col-8 lg:col-10 h-auto" *ngIf="step === 3">
        <div class="h-full border-round-sm border-1 p-3">
            <app-cancer-uterus></app-cancer-uterus>
        </div>
    </div>
    <div class="col-12 sm:col-12 md:col-8 lg:col-10 h-auto" *ngIf="step ===4">
        <div class="h-full border-round-sm border-1 p-3">
            <app-hta></app-hta>
        </div>
    </div>
</div>