::ng-deep .avance .p-button{
    background: transparent !important;
    color: #3B82F6;
    border: 1px solid;
    border-color: #D7D7D7;
    width: 100%;
    padding: 20px;
}
::ng-deep .avance  .p-button:enabled:hover {
    color: #3B82F6;
}
.active {
    border-radius: 6px;
    border: 2px solid #F8809D;
  }

