<form>
    <div class="grid diabete">
        <div class="col-12 sm:col-12 md:col-12 lg:col-3 d">
            <h4>Tour de taille pour hommes</h4>
            <div class="flex align-items-center mt-3">
                <p-radioButton></p-radioButton>
                <label  class="ml-2"> < 94 cm</label>
            </div>
            <div class="flex align-items-center mt-3">
                <p-radioButton></p-radioButton>
                <label  class="ml-2"> 94 – 102 cm</label>
            </div>
            <div class="flex align-items-center mt-3">
                <p-radioButton></p-radioButton>
                <label  class="ml-2"> > 102 cm</label>
            </div>
            <div class="mt-4">
                <h4>Activité physique plus que 30 min / jour</h4>
                <div class="flex align-items-center mt-3">
                    <p-radioButton></p-radioButton>
                    <label  class="ml-2"> Oui</label>
                </div>
                <div class="flex align-items-center mt-3">
                    <p-radioButton   inputId="Non"></p-radioButton>
                    <label  class="ml-2"> Non</label>
                </div>
            </div>
            <div class="mt-4">
                <h4>Votre patient mange-t-il des légumes et des fruits ?</h4>
                <div class="flex align-items-center mt-3">
                    <p-radioButton></p-radioButton>
                    <label  class="ml-2"> Chaque jour</label>
                </div>
                <div class="flex align-items-center mt-3">
                    <p-radioButton></p-radioButton>
                    <label  class="ml-2"> Pas chaque jour</label>
                </div>
            </div>
        </div>
        <div class="col-12 sm:col-12 md:col-12 lg:col-6 d pl-3">
            <h4>Antécédants familiales directes du diabète type 1 ou 2</h4>
            <div class="flex align-items-center mt-3">
                <p-radioButton></p-radioButton>
                <label  class="ml-2"> Non</label>
            </div>
            <div class="flex align-items-center mt-3">
                <p-radioButton></p-radioButton>
                <label  class="ml-2"> Oui (grands-parents, cousins, tantes, oncles)</label>
            </div>
            <div class="flex align-items-center mt-3">
                <p-radioButton></p-radioButton>
                <label  class="ml-2"> Oui (parents, fratries, enfants)</label>
            </div>
            <div class="mt-4">
                <h4>Mesure précédente élevée de la glycémie</h4>
                <div class="flex align-items-center mt-3">
                    <p-radioButton></p-radioButton>
                    <label  class="ml-2"> Oui</label>
                </div>
                <div class="flex align-items-center mt-3">
                    <p-radioButton></p-radioButton>
                    <label  class="ml-2"> Non</label>
                </div>
            </div>
            <div class="mt-4">
                <h4>Prise de médicaments pour l’HTA</h4>
                <div class="flex align-items-center mt-3">
                    <p-radioButton></p-radioButton>
                    <label  class="ml-2"> Oui</label>
                </div>
                <div class="flex align-items-center mt-3">
                    <p-radioButton></p-radioButton>
                    <label  class="ml-2"> Non</label>
                </div>
            </div>
        </div>
        <div class="col-12 sm:col-12 md:col-12 lg:col-3 d pl-3">
            <h4>Notion prise de tabac</h4>
            <div class="p-field-radiobutton mt-3 mb-3">
                <p-radioButton></p-radioButton>
                <label class="ml-2">Oui</label>
            </div>
            <label class="mb-2 block">Cigarettes par jour</label>
            <div class="p-inputgroup">
                <input type="text" pInputText>
                <button class="cursor-auto" type="button" pButton pRipple label="Jour"></button>         
            </div>
            <label class="mb-2 block mt-3">Durée</label>
            <div class="p-inputgroup">
                <input type="text" pInputText>
                <button class="cursor-auto" type="button" pButton pRipple label="Années"></button>         
            </div>
            <div class="flex align-items-center mt-3">
                <p-radioButton></p-radioButton>
                <label  class="ml-2"> Non</label>
            </div>
            <div class="mt-5">
                <button  pRipple pButton class="px-4 py-2 border-round-sm flex items-center gap-2 justify-center bg-voir w-full">
                    <i class="pi pi-eye"></i>
                    Voir le résultat
                </button>
            </div>
        </div>
    </div>
</form>