<div class="hta">
    <form>
        <div class="grid">
            <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                <h5 class="mt-3 mb-3">Mauvaise alimentation (alimentation riche en sodium)</h5>
                <div class="flex align-items-center gap-4">
                    <div class="flex align-items-center">
                        <p-radioButton></p-radioButton>
                        <label  class="ml-2">Oui</label>
                    </div>
                    <div class="flex align-items-center">
                        <p-radioButton></p-radioButton>
                        <label  class="ml-2">Non</label>
                    </div>
                </div>
                <h5 class="mt-4 mb-3">Sédentarité (manque d'activité physique)</h5>
                <div class="flex align-items-center gap-4">
                    <div class="flex align-items-center">
                        <p-radioButton></p-radioButton>
                        <label  class="ml-2">Oui</label>
                    </div>
                    <div class="flex align-items-center">
                        <p-radioButton></p-radioButton>
                        <label  class="ml-2">Non</label>
                    </div>
                </div>
                <h5 class="mt-4 mb-3">Stress psychosocial</h5>
                <div class="flex align-items-center gap-4">
                    <div class="flex align-items-center">
                        <p-radioButton></p-radioButton>
                        <label  class="ml-2">Oui</label>
                    </div>
                    <div class="flex align-items-center">
                        <p-radioButton></p-radioButton>
                        <label  class="ml-2">Non</label>
                    </div>
                </div>
                <h5 class="mt-4 mb-3">Prise médicamenteuse</h5>
                <div class="flex align-items-center gap-4">
                    <div class="flex align-items-center">
                        <p-checkbox></p-checkbox>
                        <label  class="ml-2">Anti-inflammatoires
                            non stéroïdiens (AINS)</label>
                    </div>
                    <div class="flex align-items-center">
                        <p-checkbox></p-checkbox>
                        <label  class="ml-2">Décongestionnants
                            (pseudoéphédrine..)</label>
                    </div>
                </div>
                <div class="flex align-items-center gap-4 mt-3">
                    <div class="flex align-items-center">
                        <p-checkbox></p-checkbox>
                        <label  class="ml-2">Corticostéroïdes</label>
                    </div>
                    <div class="flex align-items-center">
                        <p-checkbox></p-checkbox>
                        <label  class="ml-2">Antidépresseurs
                            (ISRS..)</label>
                    </div>
                </div>
                <div class="flex align-items-center gap-4 mt-3">
                    <div class="flex align-items-center">
                        <p-checkbox></p-checkbox>
                        <label  class="ml-2">Immunosuppresseurs
                            (Cyclosporine…)</label>
                    </div>
                    <div class="flex align-items-center">
                        <p-checkbox></p-checkbox>
                        <label  class="ml-2">Rien</label>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <textarea rows="5" cols="30" pInputTextarea placeholder="Autre"></textarea>
                </div>
            </div>
            <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                <div class="grid">
                    <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                            <h5 class="mt-3 mb-3">Dyslipidémie(hypercholestérolémie)</h5>
                            <div class="flex align-items-center gap-4">
                                <div class="flex align-items-center">
                                    <p-radioButton></p-radioButton>
                                    <label  class="ml-2">Oui</label>
                                </div>
                                <div class="flex align-items-center">
                                    <p-radioButton></p-radioButton>
                                    <label  class="ml-2">Non</label>
                                </div>
                            </div>
                            <h5 class="mt-3 mb-3">Maladie rénale</h5>
                            <div class="flex align-items-center gap-4">
                                <div class="flex align-items-center">
                                    <p-radioButton></p-radioButton>
                                    <label  class="ml-2">Oui</label>
                                </div>
                                <div class="flex align-items-center">
                                    <p-radioButton></p-radioButton>
                                    <label  class="ml-2">Non</label>
                                </div>
                            </div>
                    </div>
                    <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                        <h5 class="mt-3 mb-3">Antécédents familiaux d’HTA</h5>
                        <div class="flex align-items-center gap-4">
                            <div class="flex align-items-center">
                                <p-radioButton></p-radioButton>
                                <label  class="ml-2">Oui</label>
                            </div>
                            <div class="flex align-items-center">
                                <p-radioButton></p-radioButton>
                                <label  class="ml-2">Non</label>
                            </div>
                        </div>
                        <h5 class="mt-3 mb-3">Apnée du sommeil</h5>
                        <div class="flex align-items-center gap-4">
                            <div class="flex align-items-center">
                                <p-radioButton></p-radioButton>
                                <label  class="ml-2">Oui</label>
                            </div>
                            <div class="flex align-items-center">
                                <p-radioButton></p-radioButton>
                                <label  class="ml-2">Non</label>
                            </div>
                        </div>
                </div>
                </div>
                        <h5 class="mt-3 mb-3">Troubles hormonaux</h5>
                        <div class="flex align-items-center gap-4 mt-3">
                            <div class="flex align-items-center">
                                <p-checkbox></p-checkbox>
                                <label  class="ml-2">Hyperaldostéronisme
                                    primaire</label>
                            </div>
                            <div class="flex align-items-center">
                                <p-checkbox></p-checkbox>
                                <label  class="ml-2">Hyperthyroïdie</label>
                            </div>
                        </div>
                        <div class="flex align-items-center gap-4 mt-3">
                            <div class="flex align-items-center">
                                <p-checkbox></p-checkbox>
                                <label  class="ml-2">Syndrome de Cushing</label>
                            </div>
                            <div class="flex align-items-center">
                                <p-checkbox></p-checkbox>
                                <label  class="ml-2">Syndrome des ovaires
                                    polykystiques</label>
                            </div>
                        </div>
                        <div class="flex align-items-center mt-3">
                            <p-checkbox></p-checkbox>
                            <label  class="ml-2">Rien</label>
                        </div>
                    <div class="col-12 mt-3">
                        <textarea rows="5" cols="30" pInputTextarea placeholder="Autre"></textarea>
                    </div>
            </div>
        </div>
    </form>
</div>