<div class="lg:ml-4 lg:mr-4">
    <p-tabView>
        <p-tabPanel header="Périphériques de base">
        <p>
            <app-peripheriques-base></app-peripheriques-base>
        </p>
        </p-tabPanel>
        <p-tabPanel header="Périphériques Avancé">
            <p>
                <app-peripheriques-avance></app-peripheriques-avance>
            </p>
        </p-tabPanel>
        <p-tabPanel header="Dépistage">
            <p>
               <app-pepistage></app-pepistage>
            </p>
        </p-tabPanel>
    </p-tabView>
</div>