::ng-deep .p-tabview .p-tabview-nav li {
    width: 30%;
    margin-right: 10px;
}
::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: #1aa5c0;
    border-color: #1aa5c0;
    color: #ffffff;
}
::ng-deep .p-tabview .p-tabview-nav .p-tabview-ink-bar{
    background-color: #1aa5c0;
    height: 0;
}
::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link{
    background-color: #e8f6f9;
    justify-content: center;
    color: #1aa5c0;
}
::ng-deep .p-tabview .p-tabview-nav {
    background: #ffffff;
    border: 0px solid #dee2e6;
    border-width: 0 0 0px 0;
}
