<div class="grid serach">
    <div class="col-12 sm:col-12 md:col-5 lg:col-4 d">
       <div class="mb-3">
        <label class="mb-3 block">Date des premières règles</label>
        <p-dropdown [options]="cities" optionLabel="name" [showClear]="true" placeholder="Avant 9 ans"></p-dropdown>
       </div>
       <div class="mb-3">
            <label class="mb-3 block">Avez-vous atteint la ménopause ?</label>
            <p-dropdown [options]="cities" optionLabel="name" [showClear]="true" placeholder="Avant 9 ans"></p-dropdown>
       </div>
       <div class="mb-3">
            <textarea rows="2" cols="47" pInputTextarea placeholder="Commentaire"></textarea>
       </div>
       <div class="mb-3">
            <label class="mb-3 block">Régularité</label>
            <p-selectButton [options]="stateOptions" [(ngModel)]="value" optionLabel="label" optionValue="value"></p-selectButton>
        </div>
        <div class="mb-3">
            <label>Présence de signes associés (douleurs, symptômes prémenstruels) ?</label>
            <div class="group-qst flex mt-3">
                <div class="p-field-radiobutton">
                    <p-radioButton name="oui" [value]="true"   inputId="oui"></p-radioButton>
                    <label for="oui" class="ml-2">Oui</label>
                </div>
                <div class="p-field-radiobutton ml-7">
                    <p-radioButton name="non" [value]="false"  inputId="non"></p-radioButton>
                    <label for="non" class="ml-2">Non</label>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <textarea rows="2" cols="47" pInputTextarea placeholder="Commentaire"></textarea>
       </div>
       <div class="mb-3">
            <label class="mb-3 block">Dysménorrhée (douleurs menstruelles) ?</label>
            <p-dropdown [options]="cities" optionLabel="name" [showClear]="true" placeholder="Avant 9 ans"></p-dropdown>
        </div>
    </div>
    <div class="col-12 sm:col-12 md:col-6 lg:col-4 d pl-3">
        <div class="mb-3">
            <label> Avez-vous déjà présenté un syndrome dysphorique prémenstruel (SDPM) ?</label>
            <div class="group-qst flex mt-3">
                <div class="p-field-radiobutton">
                    <p-radioButton name="oui" [value]="true"   inputId="oui"></p-radioButton>
                    <label for="oui" class="ml-2">Oui</label>
                </div>
                <div class="p-field-radiobutton ml-7">
                    <p-radioButton name="non" [value]="false"  inputId="non"></p-radioButton>
                    <label for="non" class="ml-2">Non</label>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label class="mb-3 block">Moyen de contraception actuelle</label>
            <p-dropdown [options]="cities" optionLabel="name" [showClear]="true" placeholder="Avant 9 ans"></p-dropdown>
        </div>
        <div class="mb-3">
            <label>Modifications dans votre cycle depuis l’ utilisation de la pilule contraceptive:</label>
            <div class="group-qst flex mt-3">
                <div class="p-field-radiobutton">
                    <p-radioButton name="oui" [value]="true"   inputId="oui"></p-radioButton>
                    <label for="oui" class="ml-2">Oui</label>
                </div>
                <div class="p-field-radiobutton ml-7">
                    <p-radioButton name="non" [value]="false"  inputId="non"></p-radioButton>
                    <label for="non" class="ml-2">Non</label>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label class="mb-3 block">Quel était le premier jour de vos dernières règles ?</label>
            <p-calendar [(ngModel)]="date2"  [showIcon]="true" class="w-full"></p-calendar>
        </div>
        <div class="mb-3">
            <label>Combien de grossesses avez-vous eues (G) ?</label>
            <div class="group-qst flex mt-3">
                <div class="p-field-radiobutton">
                    <p-radioButton name="oui" [value]="true"   inputId="oui"></p-radioButton>
                    <label for="oui" class="ml-2">Oui</label>
                </div>
                <div class="p-field-radiobutton ml-7">
                    <p-radioButton name="non" [value]="false"  inputId="non"></p-radioButton>
                    <label for="non" class="ml-2">Non</label>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <textarea rows="2" cols="47" pInputTextarea placeholder="Commentaire"></textarea>
        </div>
    </div>
    <div class="col-12 sm:col-12 md:col-6 lg:col-4 pl-3">
        <div class="mb-3">
            <label class="mb-3 block">Avez-vous eu des fausses couches?</label>
            <p-dropdown [options]="cities" optionLabel="name" [showClear]="true" placeholder="Avant 9 ans"></p-dropdown>
        </div>
        <div class="mb-3">
            <label> Avez-vous déjà eu un accouchement par césarienne ?</label>
            <div class="group-qst flex mt-3">
                <div class="p-field-radiobutton">
                    <p-radioButton name="oui" [value]="true"   inputId="oui"></p-radioButton>
                    <label for="oui" class="ml-2">Oui</label>
                </div>
                <div class="p-field-radiobutton ml-7">
                    <p-radioButton name="non" [value]="false"  inputId="non"></p-radioButton>
                    <label for="non" class="ml-2">Non</label>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <textarea rows="2" cols="47" pInputTextarea placeholder="Commentaire"></textarea>
        </div>
        <div class="mb-3">
            <label>Avez-vous eu des complications pendant l'une de vos grossesses ?</label>
            <div class="group-qst flex mt-3">
                <div class="p-field-radiobutton">
                    <p-radioButton name="oui" [value]="true"   inputId="oui"></p-radioButton>
                    <label for="oui" class="ml-2">Oui</label>
                </div>
                <div class="p-field-radiobutton ml-7">
                    <p-radioButton name="non" [value]="false"  inputId="non"></p-radioButton>
                    <label for="non" class="ml-2">Non</label>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <textarea rows="2" cols="47" pInputTextarea placeholder="Commentaire"></textarea>
        </div>
        <div class="mb-3">
            <label>Avez-vous allaité vos enfants ?</label>
            <div class="group-qst flex mt-3">
                <div class="p-field-radiobutton">
                    <p-radioButton name="oui" [value]="true"   inputId="oui"></p-radioButton>
                    <label for="oui" class="ml-2">Oui</label>
                </div>
                <div class="p-field-radiobutton ml-7">
                    <p-radioButton name="non" [value]="false"  inputId="non"></p-radioButton>
                    <label for="non" class="ml-2">Non</label>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label class="mb-3 block">Avez-vous des antécédents familiaux de cancers gynécologiques ?</label>
            <p-dropdown [options]="cities" optionLabel="name" [showClear]="true" placeholder="Oui côlon"></p-dropdown>
        </div>
    </div>
</div>
<div class="flex justify-content-between md:mt-6">
    <button   pRipple type="button"  label="Annuler"  class="text-white surface-500 surface-border px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:surface-500 hover:surface-border active:surface-500 active:surface-border md:ml-4">Annuler</button>
    <button   pRipple pButton type="button" label="Valider" class="text-white bg-primary-500 border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer"></button>
</div>