<div class="header w-full px-4 border border-round-lg" *ngIf="!(isLoading$ | async)">
    <div class="grid mt-1">
        <div class="col-12 sm:col-12 md:col-6 lg:col-6">
            <div class="grid">
                <div class="col-12 sm:col-12 md:col-6 lg:col-6">
                    <div class="info flex items-center relative">
                        <div class="absolute peciledit cursor-pointer">
                            <i class="pi pi-pencil"></i>
                        </div>
                        <img src="../../../../assets/img/icons/user.svg" alt="avatar" class="mr-4">
                            <div class="flex flex-wrap">
                                <div class="w-full font-medium text-xl text-color-default" *ngIf="patient?.user">{{patient?.user?.firstName}} {{patient?.user?.lastName}}</div>
                                <div class="font-medium ">Sexe : {{patient?.user?.gender == 'male' ? 'Homme' : 'Femme'}}</div>
                            </div>
                        </div>
                </div>
                <div class="col-12 sm:col-12 md:col-6 lg:col-6">
                    <div class="flex flex-wrap">
                        <div class="w-full text-color-default font-medium " *ngIf="patient?.user">Né(e) le {{patient?.user?.birthDate | date:'dd/MM/yyyy'}}</div>
                        <div class="text-color-default font-medium " *ngIf="patient?.user">{{patient.user.birthDate | age}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 sm:col-12 md:col-6 lg:col-3 mt-1">
            <button pRipple pButton class="btn-terminer p-jc-end px-4 py-2 border-round-sm flex items-center gap-2 justify-center w-full" (click)="Rendevous()">
                <img src="../../../../assets/img/icons/consultation.png" >
                Réserver un rendez-vous
            </button>
        </div>
        <div *ngIf="patient?.currentConsultations?.length" class="col-12 sm:col-12 md:col-6 lg:col-3 mt-1">
            <button  pRipple pButton class="px-4 py-2 border-round-sm flex items-center gap-2 justify-center bg-locale-pause w-full" (click)="goToConsultation()">
                <img src="../../../../assets/img/icons/programme.png" >
                Reprendre la consultation
            </button>
        </div>
        <div class="col-12 sm:col-12 md:col-6 lg:col-3 mt-1" *ngIf="!patient?.currentConsultations?.length && patient.consultations && patient.consultations.length <= 0">
            <button  pRipple pButton class="px-4 py-2 border-round-sm flex items-center gap-2 justify-center bg-locale-play w-full" (click)="openConfirmDialog()">
                <img src="../../../../assets/img/icons/programme.png" >
                Démarrer la consultation
            </button>
        </div>
    </div>
</div>
<div class="mt-4" *ngIf="!(isLoading$ | async)">
    <p-tabView class="fichepatient">
        <p-tabPanel header="Fiche patient">
          <p>
            <app-fiche-patient [patient]="patient"></app-fiche-patient>
          </p>
        </p-tabPanel>
        <p-tabPanel header="Antécédents">
          <p>
            <app-antecedents [patient]="patient"></app-antecedents>
          </p>
        </p-tabPanel>
        <p-tabPanel header="Constantes">
          <p>
            <app-constantes [patient]="patient"></app-constantes>
          </p>
        </p-tabPanel>
        <p-tabPanel header="Compte-rendu">
            <p>
               <app-compte-rendu [patient]="patient"></app-compte-rendu>
            </p>
          </p-tabPanel>
          
      </p-tabView>
</div>

