
<div class="flex justify-content-between">
    <h2><i class="pi pi-calendar text-3xl"></i>Disponibilités</h2>
    <!-- <button (click)="toggleMultiSelection()" pButton pRipple [label]="multiSelection ? 'Désactiver la séléction multiple' : 'Activer la séléction multiple'" class="add-button"></button> -->

</div>
<div class="grid mt-2">
    <div class="col-12">
        <div class="table-container p-3">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="p-3">
                                <input type="checkbox" class="regular-checkbox"  name="font" value="dimanche"/>
                                <label class="text-lg" for="checkbox1">
                                    Dimanche
                                </label>
                            </th>
                            <th class="p-3">
                                <input type="checkbox" class="regular-checkbox"   name="font" value="lundi"/>
                                <label class="text-lg" for="checkbox1">
                                    Lundi
                                </label>
                            </th>
                            <th class="p-3">
                                <input type="checkbox" class="regular-checkbox" name="font" value="mardi"/>
                                <label class="text-lg" for="checkbox1">
                                    Mardi
                                </label>
                            </th>
                            <th class="p-3">
                                <input type="checkbox" class="regular-checkbox"   name="font" value="mardi"/>
                                <label class="text-lg" for="checkbox1">
                                    Mercredi
                                </label>
                            </th>
                            <th class="p-3">
                                <input type="checkbox"  class="regular-checkbox"  name="font" value="mardi"/>
                                <label class="text-lg" for="checkbox1">
                                    Jeudi
                                </label>
                            </th>
                            <th class="p-3">
                                <input type="checkbox" class="regular-checkbox"   name="font" value="mardi"/>
                                <label class="text-lg" for="checkbox1">
                                    Vendredi
                                </label>
                            </th>
                            <th class="p-3">
                                <input type="checkbox" class="regular-checkbox"  name="font" value="mardi"/>
                                <label class="text-lg" for="checkbox1">
                                    Samedi
                                </label>
                            </th>
                        </tr>
                    </thead>
                    <tbody class=" e-btn-group" (mousedown)="handleMouseDown($event)"
                    (mousemove)="onMouseMove($event)"
                    (mouseup)="handleMouseUp($event)">
                        <tr >
                            <td class="text-center text-lg p-3" *ngFor="let line1 of [0,1,2,3,4,5,6];let i = index">
                                <input  
                                type="checkbox" [checked]="ischeked" [value]="ischeked" id="checkbox{{[i+1]}}"/>
                                <label class="e-btn" for="checkbox{{[i+1]}}">
                                    08:00-08:10 
                                </label>
                            </td>
                        </tr>
                        <tr >
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input 
                                type="checkbox" [checked]="ischeked" [value]="ischeked"  id="checkbox1{{[i+1]}}" />
                                <label class="e-btn" for="checkbox1{{[i+1]}}">
                                    08:10-08:20 
                                </label>
                            </td>
                        </tr>
                        <tr >
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input 
                                type="checkbox" [checked]="ischeked" [value]="ischeked" id="checkbox2{{[i+1]}}"/>
                                <label class="e-btn" for="checkbox2{{[i+1]}}">
                                    08:20-08:30 
                                </label>
                            </td>
                        </tr>
                        <tr >
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox3{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox3{{[i+1]}}">
                                    08:30-08:40 
                                </label>
                            </td>
                        </tr>
                        <tr >
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox4{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox4{{[i+1]}}">
                                    08:40-08:50
                                </label>
                            </td>
                        </tr>
                        <tr >
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox5{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox5{{[i+1]}}">
                                    08:50-09:00
                                </label>
                            </td>
                        </tr>
                        <tr >
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox6{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox6{{[i+1]}}">
                                    09:00-09:10
                                </label>
                            </td>
                        </tr>
                        <tr >
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox7{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox7{{[i+1]}}">
                                    09:10-09:20
                                </label>
                            </td>
                        </tr>
                        <tr >
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox8{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox8{{[i+1]}}">
                                    09:20-09:30
                                </label>
                            </td>
                        </tr>
                        <tr >
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox9{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox9{{[i+1]}}">
                                    09:30-09:40
                                </label>
                            </td>
                        </tr>
                        <tr >
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox10{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox10{{[i+1]}}">
                                    09:40-09:50
                                </label>
                            </td>
                        </tr>
                        <tr >
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox11{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox11{{[i+1]}}">
                                    09:50-10:00
                                </label>
                            </td>
                        </tr>
                        <tr >
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox12{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox12{{[i+1]}}">
                                    10:00-10:10
                                </label>
                            </td>
                        </tr>
                        <tr >
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox13{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox13{{[i+1]}}">
                                    10:10-10:20
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox14{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox14{{[i+1]}}">
                                    10:20-10:30
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox15{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox15{{[i+1]}}">
                                    10:40-10:50
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox16{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox16{{[i+1]}}">
                                    10:50-11:00
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox17{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox17{{[i+1]}}">
                                    11:00-11:10
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox18{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox18{{[i+1]}}">
                                    11:10-11:20
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox19{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox19{{[i+1]}}">
                                    11:20-11:30
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox20{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox20{{[i+1]}}">
                                    11:30-11:40
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox21{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox21{{[i+1]}}">
                                    11:40-11:50
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox22{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox22{{[i+1]}}">
                                    11:50-12:00
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox23{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox23{{[i+1]}}">
                                    12:00-12:10
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox24{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox24{{[i+1]}}">
                                    12:10-12:20
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox25{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox25{{[i+1]}}">
                                    12:20-12:30
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox26{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox26{{[i+1]}}">
                                    12:30-12:40
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox27{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox27{{[i+1]}}">
                                    12:40-12:50
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox28{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox28{{[i+1]}}">
                                    12:50-13:00
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox29{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox29{{[i+1]}}">
                                    13:00-13:10
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox30{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox30{{[i+1]}}">
                                    13:10-13:20
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox31{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox31{{[i+1]}}">
                                    13:20-13:30
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox32{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox32{{[i+1]}}">
                                    13:30-13:40
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox33{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox33{{[i+1]}}">
                                    13:40-13:50
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox34{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox34{{[i+1]}}">
                                    13:50-14:00
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox35{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox35{{[i+1]}}">
                                    14:00-14:10
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox36{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox36{{[i+1]}}">
                                    14:10-14:20
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox37{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox37{{[i+1]}}">
                                    14:20-14:30
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox38{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox38{{[i+1]}}">
                                    14:30-14:40
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox39{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox39{{[i+1]}}">
                                    14:40-14:50
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox40{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox40{{[i+1]}}">
                                    14:50-15:00
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox41{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox41{{[i+1]}}">
                                    15:00-15:10
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox42{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox42{{[i+1]}}">
                                    15:10-15:20
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox43{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox43{{[i+1]}}">
                                    15:20-15:30
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox43{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox43{{[i+1]}}">
                                    15:30-15:40
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox44{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox44{{[i+1]}}">
                                    15:40-15:50
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox45{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox45{{[i+1]}}">
                                    15:50-16:00
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox46{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox46{{[i+1]}}">
                                    16:00-16:10
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox47{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox47{{[i+1]}}">
                                    16:10-16:20
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox47{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox47{{[i+1]}}">
                                    16:20-16:30
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox47{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox47{{[i+1]}}">
                                    16:30-16:40
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox48{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox48{{[i+1]}}">
                                    16:40-16:50
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox49{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox49{{[i+1]}}">
                                    16:50-17:00
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox50{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox50{{[i+1]}}">
                                    17:00-17:10
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox51{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox51{{[i+1]}}">
                                    17:10-17:20
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox52{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox52{{[i+1]}}">
                                    17:20-17:30
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox53{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox53{{[i+1]}}">
                                    17:30-17:40
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox54{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox54{{[i+1]}}">
                                    17:40-17:50
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center text-lg p-3" *ngFor="let line2 of [0,1,2,3,4,5,6];let i = index">
                                <input type="checkbox" id="checkbox55{{[i+1]}}" name="font" value=""/>
                                <label class="e-btn" for="checkbox55{{[i+1]}}">
                                    17:50-18:00
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="flex justify-content-between md:mt-6">
                    <button pRipple type="button"  label="Réinitialiser" class="text-white bg-red-500 px-3 py-2 text-base border-1 border-red-900 border-solid border-round cursor-pointer transition-all transition-duration-200">Réinitialiser</button>
                    <button pRipple pButton label="Enregistrer" class="text-white bg-primary-500 border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer md:w-1 "></button>
                </div>
            </div>
        </div>
    </div>
</div>