<div class="col-12 mb-2 p-0">
    <label  class="font-medium">Veuillez choisir le mode de sortie:</label>
    <select  class="w-full mt-3 text-base text-color surface-overlay p-2 border-2 border-solid surface-border border-round outline-none focus:border-primary">
        <option>Sortie normale</option>
        <option>Transfert vers l’hôpital régional</option>
        <option>Évaluation urgente</option>
    </select>
</div>
<div class="mt-4 mb-1">
    <button pRipple pButton class="px-4 py-2 border-round-sm justify-center">Confirmer</button>
</div>