::ng-deep .p-panel .p-panel-header{
    background: #335D84;
    color: #ffffff;
}
::ng-deep .pi.pi-minus,::ng-deep .pi.pi-plus{
    color: #fff;
}
.table-container{
    .table-responsive {
        overflow-x: auto;
        white-space: nowrap;
        .table{
            border-collapse: collapse;
            width: 100%;
            padding: 10px;
            tbody {
                tr:nth-child(odd) {
                    background-color: rgb(239, 239, 239); /* Background color for odd rows */
                }
                tr:nth-child(even) {
                    background-color: #ffffff; /* Background color for even rows */
                }
                td{
                    color: rgb(133, 133, 133);
                }
            }
            
        }
      }
}
::ng-deep .btn-add .p-button,
::ng-deep .btn-add .p-button:hover{
    border-radius: 3px;
    background: rgba(26, 165, 192, 0.16) !important;
    box-shadow: 0px 4px 4px 0px rgba(80, 121, 158, 0.35);
    color: #1AA5C0;
    border-color: rgba(26, 165, 192, 0.16) ;
}
::ng-deep .femme .p-panel-header{
    background: #F8809D;
}
::ng-deep .femme .p-panel-content h4{
    color: #50799E;
    font-size: 15px;
    margin-bottom: 10px;
}
::ng-deep .femme .p-panel-content p{
    color: #5E5E5E;
}
.d{
    border-right: 2px solid rgba(80, 121, 158, 0.15);
}