<div class="grid mt-1">
    <div class="col-12">
        <p-panel header="Antécédents personnels" [toggleable]="true">
            <div class="grid">
                <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                    <div class="table-container p-3">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="p-3 text-left">Antécédents Médicaux</th>
                                        <th class="p-3">Année</th>
                                        <th class="p-3">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cursor-pointer" *ngFor="let medical of consultation.medicalHistory?.medical">
                                        <td class="text-left text-lg p-3" *ngIf="medical.motif.join(',').length > 60" [pTooltip]="medical.motif.join(',')" tooltipPosition="top">{{medical.motif.join(',') | truncateText: 60}}</td>
                                        <td class="text-left text-lg p-3" *ngIf="medical.motif.join(',').length <= 60">{{medical.motif.join(',')}}</td>
                                        <td class="text-center text-lg p-3">{{medical.year}}</td>
                                        <td class="text-center text-lg p-3 flex gap-3 justify-content-center">
                                            <!-- <div><i class="pi pi-trash text-red-500"></i></div>
                                            <div><i class="pi pi-file-edit text-primary-500	"></i></div> -->
                                        </td>
                                    </tr>
                                    <tr class="cursor-pointer" *ngFor="let medical of antecedentPersonnel?.medical; let i = index">
                                        <td class="text-left text-lg p-3" *ngIf="medical.motif.join(',').length > 60" [pTooltip]="medical.motif.join(',')" tooltipPosition="top">{{medical.motif.join(',') | truncateText: 60}}</td>
                                        <td class="text-left text-lg p-3" *ngIf="medical.motif.join(',').length <= 60">{{medical.motif.join(',')}}</td>
                                        <td class="text-center text-lg p-3">{{medical.year}}</td>
                                        <td class="text-center text-lg p-3 flex gap-3 justify-content-center">
                                            <div (click)="deleteMedical(i)"><i class="pi pi-trash text-red-500"></i></div>
                                            <!-- <div><i class="pi pi-file-edit text-primary-500	"></i></div> -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                    <div class="table-container p-3">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="p-3 text-left">Antécédents chirurgicaux</th>
                                        <th class="p-3">Année</th>
                                        <th class="p-3">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cursor-pointer" *ngFor="let surgical of consultation.medicalHistory?.surgical">
                                        <td class="text-left text-lg p-3" *ngIf="surgical.motif.join(',').length > 60" [pTooltip]="surgical.motif.join(',')" tooltipPosition="top">{{surgical.motif.join(',') | truncateText: 60}}</td>
                                        <td class="text-left text-lg p-3" *ngIf="surgical.motif.join(',').length <= 60">{{surgical.motif.join(',')}}</td>
                                        <td class="text-center text-lg p-3">{{surgical.year}}</td>
                                        <td class="text-center text-lg p-3 flex gap-3 justify-content-center">
                                            <!-- <div><i class="pi pi-trash text-red-500"></i></div> -->
                                            <!-- <div><i class="pi pi-file-edit text-primary-500	"></i></div> -->
                                        </td>
                                    </tr>
                                    <tr class="cursor-pointer" *ngFor="let surgical of antecedentPersonnel?.surgical; let i = index">
                                        <td class="text-left text-lg p-3" *ngIf="surgical.motif.join(',').length > 60" [pTooltip]="surgical.motif.join(',')" tooltipPosition="top">{{surgical.motif.join(',') | truncateText: 60}}</td>
                                        <td class="text-left text-lg p-3" *ngIf="surgical.motif.join(',').length <= 60">{{surgical.motif.join(',')}}</td>
                                        <td class="text-center text-lg p-3">{{surgical.year}}</td>
                                        <td class="text-center text-lg p-3 flex gap-3 justify-content-center">
                                            <div (click)="deleteSurgical(i)"><i class="pi pi-trash text-red-500"></i></div>
                                            <!-- <div><i class="pi pi-file-edit text-primary-500	"></i></div> -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <p-button class="btn-add" pRipple label="Nouveau antécédent personnels" icon="pi pi-plus-circle" (click)="addpersonnel()"></p-button>
                </div>
            </div>
        </p-panel>
    </div>
    <div class="col-12">
        <p-panel header="Antécédents Familiaux" [toggleable]="true">
            <div class="grid">
                <div class="col-12">
                    <div class="table-container p-3">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="p-3 text-left">Antécédents Familiaux</th>
                                        <!-- <th class="p-3">Année</th> -->
                                        <th class="p-3">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cursor-pointer" *ngFor="let family of consultation.medicalHistory?.family?.selected">
                                        <td class="text-left text-lg p-3">{{family}}</td>
                                        <!-- <td class="text-center text-lg p-3">2015</td> -->
                                        <td class="text-center text-lg p-3 flex gap-3 justify-content-center">
                                            <!-- <div><i class="pi pi-trash text-red-500"></i></div>
                                            <div><i class="pi pi-file-edit text-primary-500	"></i></div> -->
                                        </td>
                                    </tr>
                                    <tr class="cursor-pointer" *ngFor="let family of consultation.medicalHistory?.family?.others">
                                        <td class="text-left text-lg p-3">{{family}}</td>
                                        <!-- <td class="text-center text-lg p-3">2015</td> -->
                                        <td class="text-center text-lg p-3 flex gap-3 justify-content-center">
                                            <!-- <div><i class="pi pi-trash text-red-500"></i></div>
                                            <div><i class="pi pi-file-edit text-primary-500	"></i></div> -->
                                        </td>
                                    </tr>
                                    <tr class="cursor-pointer" *ngFor="let family of antecedentFamille?.selected; let i = index">
                                        <td class="text-left text-lg p-3">{{family}}</td>
                                        <!-- <td class="text-center text-lg p-3">2015</td> -->
                                        <td class="text-center text-lg p-3 flex gap-3 justify-content-center">
                                            <div (click)="deleteFamille(i)"><i class="pi pi-trash text-red-500"></i></div>
                                            <!-- <div><i class="pi pi-file-edit text-primary-500	"></i></div> -->
                                        </td>
                                    </tr>
                                    <tr class="cursor-pointer" *ngFor="let family of antecedentFamille?.others; let i = index">
                                        <td class="text-left text-lg p-3">{{family}}</td>
                                        <!-- <td class="text-center text-lg p-3">2015</td> -->
                                        <td class="text-center text-lg p-3 flex gap-3 justify-content-center">
                                            <div (click)="deleteOthers(i)"><i class="pi pi-trash text-red-500"></i></div>
                                            <!-- <div><i class="pi pi-file-edit text-primary-500	"></i></div> -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <p-button class="btn-add" pRipple label="Nouveau antécédent familiaux" icon="pi pi-plus-circle" (click)="addfamiliaux()"></p-button>
                </div>
            </div>
        </p-panel>
    </div>
    <div class="col-12">
        <p-panel header="Antécédents Toxiques" [toggleable]="true">
            <div class="grid">
                <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                    <div class="table-container p-3">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="p-3 text-left">Tabac</th>
                                        <th class="p-3">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cursor-pointer">
                                        <td class="text-left text-lg p-3" *ngIf="!antecedentToxic?.tabac && consultation.medicalHistory?.toxic?.tabac">
                                            Oui <br>
                                            <ng-container *ngIf="consultation.medicalHistory.toxic?.tabac.type == 'actif'">
                                                Actif <br>
                                                {{consultation.medicalHistory.toxic?.tabac.perDay}} cigarette/jour <br>
                                                Pendant {{consultation.medicalHistory.toxic?.tabac.duration * -1}} ans <br>
                                                {{consultation.medicalHistory.toxic?.boxPerYear}} Paquet/année
                                            </ng-container>
                                            <ng-container *ngIf="consultation.medicalHistory.toxic?.tabac.type == 'passif'">
                                                Passif <br>
                                                {{consultation.medicalHistory.toxic?.tabac.perDay}} cigarette/jour <br>
                                                Pendant {{consultation.medicalHistory.toxic?.tabac.duration * -1}} ans <br>
                                                {{consultation.medicalHistory.toxic?.boxPerYear}} Paquet/année
                                            </ng-container>
                                            <ng-container *ngIf="consultation.medicalHistory.toxic?.tabac.type == 'sevre'">
                                                Sevré <br>
                                                {{consultation.medicalHistory.toxic?.tabac.perDay}} cigarette/jour <br>
                                                Pendant {{consultation.medicalHistory.toxic?.tabac.duration * -1}} ans <br>
                                                {{consultation.medicalHistory.toxic?.boxPerYear}} Paquet/année
                                            </ng-container>
                                            
                                        </td>
                                        <td class="text-left text-lg p-3"  *ngIf="!antecedentToxic?.tabac && !consultation.medicalHistory?.toxic?.tabac">Non</td>
                                        <td class="text-left text-lg p-3" *ngIf="antecedentToxic?.tabac">
                                            Oui <br>
                                            <span *ngIf="antecedentToxic?.tabac.type == 'actif'">Actif</span> 
                                            <span *ngIf="antecedentToxic?.tabac.type == 'passif'">Passif</span> 
                                            <span *ngIf="antecedentToxic?.tabac.type == 'sevre'">Sevré</span> 
                                            {{antecedentToxic?.tabac.perDay}} cigarette/jour <br>
                                            Pendant {{antecedentToxic?.tabac.duration * -1}} ans <br>
                                            {{antecedentToxic?.boxPerYear}} Paquet/année
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-3">
                    <div class="table-container p-3">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="p-3 text-left">Alcool</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cursor-pointer">
                                        <td class="text-left text-lg p-3" *ngIf="!antecedentToxic?.alcohol && consultation.medicalHistory?.toxic?.alcohol">
                                            {{consultation.medicalHistory?.toxic?.alcohol.isAlcoholic ? 'Oui' : 'Non'}}
                                        </td>
                                        <td class="text-left text-lg p-3" *ngIf="antecedentToxic?.alcohol">
                                            {{antecedentToxic?.alcohol.isAlcoholic ? 'Oui' : 'Non'}}
                                        </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-3">
                    <div class="table-container p-3">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="p-3 text-left">Autres substances</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cursor-pointer">
                                        <td class="text-left text-lg p-3" *ngIf="!antecedentToxic?.others && consultation.medicalHistory?.toxic?.others">{{consultation.medicalHistory?.toxic?.others.nature}}</td>
                                        <td class="text-left text-lg p-3" *ngIf="antecedentToxic?.others">{{antecedentToxic?.others.nature}}</td>
                                        <td class="text-left text-lg p-3"   *ngIf="!consultation.medicalHistory?.toxic?.others">Non</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <p-button class="btn-add" pRipple label="Nouveau antécédent toxiques" icon="pi pi-plus-circle" (click)="addhabitudestoxiques()"></p-button>
                </div>
            </div>
        </p-panel>
    </div>
    <div class="col-12">
        <p-panel header="Antécédents Alérgicos" [toggleable]="true">
            <div class="grid">
                <div class="col-12">
                    <div class="table-container p-3">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="p-3 text-left">Allérgies</th>
                                        <th class="p-3">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cursor-pointer" *ngFor="let allergy of consultation.medicalHistory?.allergy">
                                        <td class="text-left text-lg p-3">{{allergy}}</td>
                                        <td class="text-center text-lg p-3 flex gap-3 justify-content-center">
                                            <!-- <div><i class="pi pi-trash text-red-500"></i></div>
                                            <div><i class="pi pi-file-edit text-primary-500	"></i></div> -->
                                        </td>
                                    </tr>
                                    <tr class="cursor-pointer" *ngFor="let allergy of antecedentAllergy; let i = index">
                                        <td class="text-left text-lg p-3">{{allergy}}</td>
                                        <td class="text-center text-lg p-3 flex gap-3 justify-content-center">
                                            <div (click)="deleteAllergy(i)"><i class="pi pi-trash text-red-500"></i></div>
                                            <!-- <div><i class="pi pi-file-edit text-primary-500	"></i></div> -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <p-button class="btn-add" pRipple label="Nouveau antécédent alérgicos" icon="pi pi-plus-circle" (click)="addallergiques()"></p-button>
                </div>
            </div>
        </p-panel>
    </div>
    <div class="col-12">
        <p-panel header="Antécédents Gynéco-obstétricaux" class="femme" [toggleable]="true">
            <div class="grid">
                <div class="col-12 sm:col-12 md:col-12 lg:col-2 d">
                    <div class="mb-3">
                        <h4>Date des premières règles</h4>
                        <p>25 ans</p>
                    </div>
                    <div class="mb-3">
                        <h4>Avez-vous atteint la ménopause ?</h4>
                        <p>Régulier</p>
                    </div>
                    <div class="mb-3">
                        <h4>Régularité</h4>
                        <p>17/08/2023</p>
                    </div>
                    <div class="mb-3">
                        <h4>Présence de signes associés (douleurs, symptômes prémenstruels) ?</h4>
                        <p>17</p>
                    </div>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-3 d">
                    <div class="mb-3">
                        <h4>Dysménorrhée (douleurs menstruelles) ?</h4>
                        <p>Oui, 2 mois</p>
                    </div>
                    <div class="mb-3">
                        <h4>Avez-vous déjà présenté un syndrome dysphorique prémenstruel (SDPM) ?</h4>
                        <p>Oui</p>
                    </div>
                    <div class="mb-3">
                        <h4>Moyen de contraception actuelle</h4>
                        <p>Oui, 2 mois</p>
                    </div>
                    <div class="mb-3">
                        <h4>Modifications dans votre cycle depuis l’utilisation de la pilule contraceptive :</h4>
                        <p>Oui</p>
                    </div>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-3 d">
                    <div class="mb-3">
                        <h4>Moyen de contraception actuelle</h4>
                        <p>Oui, 2 mois</p>
                    </div>
                    <div class="mb-3">
                        <h4>Combien de grossesses avez-vous eues (G) ? et combien de parièté ?</h4>
                        <p>Oui, 2 mois</p>
                    </div>
                    <div class="mb-3">
                        <h4>Avez-vous eu des fausses couches ?</h4>
                        <p>Oui</p>
                    </div>
                    <div class="mb-3">
                        <h4>Avez-vous déjà eu un accouchement par césarienne ?</h4>
                        <p>Oui, 2 mois</p>
                    </div>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-4 d">
                    <div class="grid">
                        <div class="col-12 sm:col-12 md:col-12 lg:col-8">
                            <div class="mb-3">
                                <h4>Avez-vous eu des complications pendant l'une de vos grossesses ?</h4>
                                <p>Oui</p>
                            </div>
                            <div class="mb-3">
                                <h4>Avez-vous allaité vos enfants ?</h4>
                                <p>Oui, 2 mois</p>
                            </div>
                            <div class="mb-3">
                                <h4>Avez-vous des antécédents familiaux de cancers gynécologiques ?</h4>
                                <p>Oui</p>
                            </div>
                        </div>
                        <div class="col-12 sm:col-12 md:col-12 lg:col-4">
                            <h4 class="text-center">Actions</h4>
                            <div class="text-center text-lg p-3 flex gap-3 justify-content-center">
                                <div class="cursor-pointer"><i class="pi pi-file-edit text-primary-500	"></i></div>
                                <div class="cursor-pointer"><i class="pi pi-trash text-red-500"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <p-button class="btn-add" pRipple label="Nouveau antécédent gynéco-obsétricaux" icon="pi pi-plus-circle" (click)="addgynecoobstetri()"></p-button>
                </div>
            </div>
        </p-panel>
    </div>
</div>
<div class="flex justify-content-between md:mt-6">
    <button (click)="Previous()"  pRipple type="button" pButton label="Retour"  class="text-white surface-500 surface-border px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:surface-500 hover:surface-border active:surface-500 active:surface-border md:w-2"></button>
    <button (click)="addAntecendents()" pRipple pButton type="button" label="Étape suivante"  class="text-white bg-primary-500 border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer md:w-2"></button>
</div>
