span{
    padding: 5px;
    border-radius: 8px;
    font-size: 11px;
    max-width: 60px;
    min-width: 60px;    
    text-align: center;
}
.primary{
    background: #f3f9f5;
    border: 1px solid #0000ff52;
    color: #0000ffba;
}