<td>
    <p-skeleton shape="circle" size="3rem" styleClass="ml-2"></p-skeleton>
</td>
<td>
    <p class="mt-2">
        <i class="pi pi-hashtag mt-1 mr-1 text-primary"></i>
        <p-skeleton width="5rem" styleClass="mt-1 inline-block"></p-skeleton>
        <p-skeleton width="4rem" styleClass="ml-1 inline-block"></p-skeleton>
    </p>
    <small class="ml-4 text-primary font-semibold"><p-skeleton width="7rem" styleClass="ml-2 inline-block"></p-skeleton></small>
</td>
<td><i class="pi pi-id-card mr-1 text-primary"></i><p-skeleton width="4rem" styleClass="mt-1 inline-block"></p-skeleton></td>
<td class="text-center">
    <p-skeleton shape="circle" size="2.5rem" styleClass="ml-3"></p-skeleton>
</td>
<td><i class="pi pi-building mr-1 text-primary"></i><p-skeleton width="6rem" styleClass="mt-1 inline-block"></p-skeleton></td>
<td><i class="pi pi-at mr-2 text-primary"></i><p-skeleton width="6rem" styleClass="mt-1 inline-block"></p-skeleton></td>
<td><i class="pi pi-phone mr-2 text-primary"></i><p-skeleton width="6rem" styleClass="mt-1 inline-block"></p-skeleton></td>
<td class="text-center">
    <p-skeleton shape="circle" size="2rem" styleClass="ml-5"></p-skeleton>
</td>
<td>
    <p-skeleton shape="circle" size="2rem" styleClass="ml-3"></p-skeleton>
</td>
<td><p-skeleton width="3.5rem" height="1.5rem" styleClass="mt-1 inline-block"></p-skeleton></td>
<td><i class="pi pi-trash cursor-pointer text-red-500 opacity-60" pRipple></i></td>
<td><i class="pi pi-pencil cursor-pointer text-green-500 opacity-60" pRipple></i></td>
<td>
    <i class="pi pi-ellipsis-v cursor-pointer text-black-alpha-20" pRipple></i>
</td>