.menu-details{
    width: 350px;
    padding: 15px;
    background: transparent linear-gradient(273deg, #0A536F 0%, #000B33 100%) 0% 0% no-repeat padding-box;
        border-radius: 0px 0px 26px 0px;
    li{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 7px 16px #0000005E;
        border-radius: 20px;
        margin-bottom: 15px;
        padding: 1px;   
    }
    .name{
        color: rgb(80, 121, 158);
        font-feature-settings: "clig" 0, "liga" 0;
        font-family: Ubuntu;
        font-size: 18.052px;
        font-style: normal;
        font-weight: 400;
        line-height: 12.703px;
    }
    .role{
        color: rgb(26 165 192/var(--tw-text-opacity));
    }
}
.top{
    background: transparent linear-gradient(270deg, #0A536F 0%, #000B33 100%) 0% 0% no-repeat padding-box;
    height: 80px;
    .pi{
        color: #20a8d3;
    }
    h4, h5{
        color: #20a8d3;
    }
}
::ng-deep .p-overlaypanel.header-overlay{
    z-index: 9998 !important;
    border-radius: 0px 0px 26px 0px;
    top: 64px !important;
}
::ng-deep .p-overlaypanel.header-submenu{
    z-index: 9999 !important;
    border-radius: 0px 0px 26px 0px;
    top: 64px !important;
}
.submenu-details{
    width: 159px;
    background-color: #fff;
    height: 100px;
    box-shadow: 0px 7px 16px #0000005E;
    border-radius: 11px;
}
.iconmenu i{
    font-size: 23px;
    padding-right: 10px;
}