.menu-details{
    width: 200px;
    background-color: #fff;
    padding-top: 20px;
    .role{
        color: rgb(26 165 192/var(--tw-text-opacity));
    }
}
.top{
    background-color: #0A536F;
    img{
        width: 12%;
    }
    h4, h5{
        color: #20a8d3;
    }

}
::ng-deep .img-visio{
    width: 25px;
}
.bg-menu{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 7px 16px #0000005E;
    border-radius: 11px;
}
.tolbar{
    margin-left: 210px;
    height: 85.83px;
    border-bottom: 1px solid #eae7e7;
    .separate{
        white-space: nowrap;
        padding-left: 15px;
        border-left: 1px solid #eae7e7;
    }
    i{
        font-size: 40px ;
        color: #626878;
    }
    ::ng-deep .p-badge {
        background: #20a8d3;
        font-size: 0.5rem;
        min-width: 1rem;
        height: 1rem;
        line-height: 1rem;
    }
   
}
.new-tolpabr{
    margin-left: 74px;
    ul{
        padding-left: 0px !important;
    }
}
.label-autto{
    line-height: 0
}
::ng-deep .search-autocmpt .p-autocomplete-input{
    height: 40px;
    width: 300px;
}