.menu-details{
    width: 340px;
    background-color: #0A536F;
    padding-top: 20px;
    .name{
        color: rgb(80, 121, 158);
        font-feature-settings: "clig" 0, "liga" 0;
        font-family: Ubuntu;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 12.703px;
    }
    .role{
        color: rgb(26 165 192/var(--tw-text-opacity));
    }
    .separate{
        padding: 17px 0;
        color: rgba(80, 121, 158, 0.61);
        font-feature-settings: "clig" 0, "liga" 0;
        font-family: Ubuntu;
        font-size: 16.68px;
        font-style: normal;
        font-weight: 400;
        line-height: 12.703px;
    }
}
.top{
    background-color: #0A536F;
    img{
        width: 12%;
    }
    .pi{
        color: #fff;
    }
    h4, h5{
        color: #20a8d3;
    }

}
::ng-deep .p-overlaypanel{
    z-index: 9999 !important;
    left: 1px !important;
    top: 60px !important;
}
::ng-deep .img-visio{
    width: 25px;
}
.bg-menu{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 7px 16px #0000005E;
    border-radius: 11px;
}