<div>
    <div class="top grid w-auto  py-2 px-3 mb-5">
      <div class="pr-3 mt-3">
        <img src="../../../../assets/img/icon-menu.png" alt="" class="mt-1 w-full cursor-pointer "  pRipple (click)="op.toggle($event)">
      </div>
        <p-overlayPanel #op>
            <ng-template pTemplate>
                <ul class="menu-details">
                    <li pRipple class="p-2 cursor-pointer pl-3 pr-3 pb-3">
                      <div class="grid bg-menu">
                        <div class="col-1">
                          <img src="../../../../assets/img/icons/icon1.svg" alt="" class="img-visio">
                        </div>
                        <div class="col-8">
                          <p class="name mt-1 pl-2">Tour de control</p>
                        </div>
                      </div>
                    </li>
                    <li pRipple class="p-2 cursor-pointer pl-3 pr-3 pb-3">
                      <div class="grid bg-menu">
                        <div class="col-1">
                          <img src="../../../../assets/img/icons/icon1.svg" alt="" class="img-visio">
                        </div>
                        <div class="col-8">
                          <p class="name mt-1 pl-2">Alerts Management</p>
                        </div>
                      </div>
                    </li>
                    <li pRipple class="p-2 cursor-pointer pl-3 pr-3 pb-3">
                      <div class="grid bg-menu">
                        <div class="col-1">
                          <img src="../../../../assets/img/icons/icon2.svg" alt="" class="img-visio">
                        </div>
                        <div class="col-8">
                          <p class="name mt-1 pl-2">TMS</p>
                        </div>
                      </div>
                    </li>
                    <li pRipple class="p-2 cursor-pointer pl-3 pr-3 pb-3">
                      <div class="grid  bg-menu">
                        <div class="col-1">
                          <img src="../../../../assets/img/icons/icon3.svg" alt="" class="img-visio">
                        </div>
                        <div class="col-8">
                          <p class="name mt-1 pl-2">Approvisionnement</p>
                        </div>
                      </div>
                    </li>
                    <li pRipple class="p-2 cursor-pointer pl-3 pr-3 pb-3">
                      <div class="grid  bg-menu">
                        <div class="col-1">
                          <img src="../../../../assets/img/icons/icon3.svg" alt="" class="img-visio">
                        </div>
                        <div class="col-8">
                          <p class="name mt-1 pl-2">Planification (APS)</p>
                        </div>
                      </div>
                    </li>
                    <li pRipple class="p-2 cursor-pointer pl-3 pr-3 pb-3">
                      <div class="grid bg-menu">
                        <div class="col-1">
                          <img src="../../../../assets/img/icons/icon3.svg" alt="" class="img-visio">
                        </div>
                        <div class="col-8">
                          <p class="name mt-1 pl-2">Inventaire</p>
                        </div>
                      </div>
                    </li>
                    <li pRipple class="p-2 cursor-pointer pl-3 pr-3 pb-3">
                      <div class="grid bg-menu">
                        <div class="col-1">
                          <img src="../../../../assets/img/icons/icon3.svg" alt="" class="img-visio">
                        </div>
                        <div class="col-8">
                          <p class="name mt-1 pl-2">Mouvement</p>
                        </div>
                      </div>
                    </li>
                    <li pRipple class="p-2 cursor-pointer pl-3 pr-3 pb-3">
                      <div class="grid bg-menu">
                        <div class="col-1">
                          <img src="../../../../assets/img/icons/icon3.svg" alt="" class="img-visio">
                        </div>
                        <div class="col-8">
                          <p class="name mt-1 pl-2">Veille</p>
                        </div>
                      </div>
                    </li>
                    <li pRipple class="p-2 cursor-pointer pl-3 pr-3 pb-3">
                      <div class="grid bg-menu">
                        <div class="col-1">
                          <img src="../../../../assets/img/icons/icon3.svg" alt="" class="img-visio">
                        </div>
                        <div class="col-8">
                          <p class="name mt-1 pl-2">Paramètre</p>
                        </div>
                      </div>
                    </li>
                    <li pRipple class="p-2 cursor-pointer pl-3 pr-3 pb-4" (click)="logout()">
                      <div class="grid bg-menu" >
                        <div class="col-1">
                          <img src="../../../../assets/img/icons/icon3.svg" alt="" class="img-visio">
                        </div>
                        <div class="col-8">
                          <p class="name mt-1 pl-2">Déconnexion</p>
                        </div>
                      </div>
                    </li>
                </ul>
            </ng-template>
        </p-overlayPanel>
        <div class="col-12 sm:col-4 md:col-5 lg:col-9">
          <img src="../../../../assets/img/logo.png" alt="" class="w-2 mt-3">
        </div>
        <div class="col-12 sm:col-12 md:col-3 lg:col-2 lg:text-right mt-2">
          <img src="../../../../assets/img/dawla.png" alt="" class="w-full">
        </div>
      </div>
</div>